.splitter {
    height: 1em;
    width: 1em;
    font-size: 6px;
    }

.splitpanel-h {
    display: flex;
    flex-direction: row;
    }

.splitpanel-h > * {
    height: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    }

.splitpanel-h > .splitter {
    cursor: ew-resize;
    }

.splitpanel-v {
    display: flex;
    flex-direction: column;
    }

.splitpanel-v > * {
    width: 100%;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    }

.splitpanel-v > .splitter {
    cursor: ns-resize;
    }

.splitstretch {
    flex: 1;
    }

.splitpanel-h > .splitfix {
    width: 250px;
    }


.splitshield {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    }


.splitting {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    }

.splitting iframe {
    pointer-events: none;
    }

.splitting .splitshield {
    visibility: visible;
    }
