.main--light {
    color: #555;
    background-color: #eee;
}

.main--light .main__nav,
.main--light .main__codeform,
.main--light .main__output {
    background-color: #fcfcfc;
}

.light .btn-action:hover { color: #333; }
.light .leftbar { box-shadow: 0 0 .5em #ccc; }
.light .leftbar-btn:hover { color: black; }
.light .treenode-groupstart { border-top-color: #ccc; }
.light .treenode-icon::after { color: white; }
.light .treenode-icon_view::after { background-color: red; }
.light .treenode-icon_matview::after { background-color: green; }
.light .treenode-icon_foreigntable::after { background-color: purple; }
.light .treenode-icon_fkcolumn::after { background-color: #ddd; color: inherit; }
.light .itemheader:hover { background-color: rgba(0,0,0,.1); }
.light .itemheader-active { background-color: rgba(0,0,0,.1); }


.light .gutter-marker-error:hover::after {
    background-color: #555;
    color: #ddd;
    box-shadow: 0 0 .5em #999;
    }




.main--light *::-webkit-scrollbar,
.main--light *::-webkit-scrollbar-corner {
    background-color: #ddd;
    }

.main--light *::-webkit-scrollbar-thumb {
    background-color: #999;
    color: #ddd;
    }

/*.light * {
    scrollbar-base-color: #333;
    scrollbar-3dlight-color: #222;
    scrollbar-highlight-color: #222;
    scrollbar-track-color: #222;
    scrollbar-arrow-color: #888;
    scrollbar-shadow-color: #222;
    scrollbar-dark-shadow-color: #222;
    }*/


.light .CodeMirror { color: #2e383c; background-color: #fcfcfc; }
.light div.CodeMirror-selected { background: #ddd; }
.light div.CodeMirror span.CodeMirror-matchingbracket { color: black; }
.light .CodeMirror-gutters { background-color: #f5f5f5; }
.light .CodeMirror-gutters--overlaying { box-shadow: 0 0 .5em #ccc; }
.light .CodeMirror-guttermarker { color: #1d75b3; }
.light .CodeMirror-guttermarker-subtle { color: #e0e2e5; }
.light .CodeMirror-linenumber { color: #aaa; }

.light .cm-comment   { color: #75787b; }
.light .cm-keyword   { color: #1d75b3; }
.light .cm-property  { color: #1d75b3; }
.light .cm-atom      { color: #75438a; }
.light .cm-number    { color: #75438a; }
.light .cm-node      { color: #9c3328; }
.light .cm-tag       { color: #9c3328; }
.light .cm-string    { color: #b35e14; }
.light .cm-variable  { color: #047d65; }
.light .cm-qualifier { color: #047d65; }
.light .cm-builtin   { color: #1cadf1; }




