@import url(./codemirror.css);
@import url(./leaflet.css);
@import url(./fontello/css/fontello-embedded.css);

@import url(./light.css);
@import url(./codeform.css);
@import url(./draft.css);
@import url(./execbar.css);
@import url(./loginform.css);
@import url(./output.css);
@import url(./output_message.css);
@import url(./queryplan.css);
@import url(./spinner_shield.css);
@import url(./splitpanel.css);
@import url(./table.css);
@import url(./treenode.css);
@import url(./map.css);
@import url(./map_popup.css);


body {
  overflow: hidden; /* disable bouncing scroll in macos */
}

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  font-family: 'DejaVu Sans', 'Verdana', sans-serif;
  color: var(--fg);
  background-color: var(--bg);
}

.main-leftbar {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  padding: .5em .1em;
  background-color: var(--bg);
  box-shadow: 0 0 .5em var(--leftbar-shadow-color);
  z-index: 2;
}

.main-theme_toggler {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  cursor: pointer;
  white-space: nowrap;
}

.main-theme_toggler::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

.main-theme_toggler::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.main-theme_toggler::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 115%;
  content: '\e800';
}

.main-splitpanel_h {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /*1.3125em;*/
}

.main-splitpanel_v,
.main-codeform,
.main-output,
.main-nav {
  display: block;
  width: 100%;
  height: 100%;
}

.main-nav {
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(0);
  padding-bottom: 30%;
  box-sizing: border-box;
}

.main-tree {
  margin-left: 2em;
  margin-right: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.main-drafts {
  margin: .5em;
}

.main-nav,
.main-codeform {
  background-color: var(--panel-bg);
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  padding: 2px;
}

/*.light*/ *::-webkit-scrollbar,
/*.light*/ *::-webkit-scrollbar-corner {
  background-color: #ddd;
}

.dark *::-webkit-scrollbar,
.dark *::-webkit-scrollbar-corner {
  background-color: #222;
}

*::-webkit-scrollbar-button:start:decrement,
*::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  width: 0;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 2px solid;
}

/*.light*/ *::-webkit-scrollbar-thumb {
  background-color: #999;
  color: #ddd;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.2);
  color: #222;
}

.dark * {
  scrollbar-base-color: #333;
  scrollbar-3dlight-color: #222;
  scrollbar-highlight-color: #222;
  scrollbar-track-color: #222;
  scrollbar-arrow-color: #888;
  scrollbar-shadow-color: #222;
  scrollbar-dark-shadow-color: #222;
}
