.execbar {
  padding: .2em;
  border-top-left-radius: .3em;
  white-space: nowrap;
  background-color: var(--bg);
}

/*button*/.execbar-btn {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  line-height: 1em;
  cursor: pointer;
  white-space: nowrap;
  border-top: 1px solid transparent; /* for simmetric align */
  border-bottom: 1px dotted;
  margin-left: .2em;
  margin-right: .2em;
  font-size: inherit;
  color: var(--fg);
}

.execbar-btn_subtext {
  display: block;
  font-size: 60%;
  line-height: 1;
}

/*button*/.execbar-execute--table {
  font-weight: bold;
}

/*button*/.execbar-execute::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

/*button*/.execbar-execute::-moz-focus-inner {
  border: 0;
  padding: 0;
}
