@import url(../lib/leaflet/1.0.3/leaflet.css);

.leaflet-container {
  background-color: var(--panel-bg);
  color: var(--fg);
}

.leaflet-control-layers-expanded {
  background-color: var(--panel-bg);
}

.leaflet-control-layers-separator {
  border-color: var(--border-color);
}

.leaflet-control-layers-list {
  margin: 0;
}

.leaflet-control-scale-line {
  transition: width 100ms ease;
  color: inherit;
}

.leaflet-control-layers-expanded {
  color: inherit;
  border-radius: 0;
}
