.loginform {
  width: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -100px;
}

.loginform-password,
.loginform-user {
  display: block;
  width: 100%;
  line-height: 2;
  padding: 0 .5em;
  margin: .5em 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #888;
}

.loginform-password:focus,
.loginform-user:focus {
  outline: none;
}

.loginform-submit {
  display: block;
  margin: 0 auto;
  /*background: transparent;*/
  /*font-family: inherit;*/
  /*border: none;*/
  /*padding: 0;*/
  /*text-decoration: dotted;*/
}

.loginform-error {
  color: red;
  margin: 1em;
}
