.map_container {
  /* stretch container with position absolutre rather
     then width/height 100% beacuse of layout bug in chrome macos.
     - close map
     - execute script with some geoobjects
     - open map: map is not rendering */
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.layers {
  position: absolute;
  z-index: 1;
  top: 1em;
  right: 1em;
}

.layers {
  background-color: #fff;
  padding: .5em;
  border: 1px solid #888;

}

.layers-item {
  display: block;
}
