.map_container {
  /* stretch container with position absolutre rather
     then width/height 100% beacuse of layout bug in chrome macos.
     - close map
     - execute script with some geoobjects
     - open map: map is not rendering */
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
