.output {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--panel-bg);
}

.output-scrollbox {
  overflow: auto;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
}

.output-cornerbar {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .2em;
  background-color: var(--bg);
  border-top-left-radius: .2em;
}

.output-save_edits {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 0.8125em;
  font-family: inherit;
  border-bottom: 1px dotted;
  line-height: 1;
  padding: 0;
  margin: .2em;
  cursor: pointer;
}

.output-save_edits:focus {
  outline: none;
}

.output-show_map {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 0.8125em;
  font-family: inherit;
  border-bottom: 1px dotted;
  line-height: 1;
  padding: 0;
  margin: .2em;
  cursor: pointer;
}

.output-show_map:focus {
  outline: none;
}

.output-show_map::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.output-show_map--on::before {
  -content: '\e807';
}

.output-show_map--off::before {
  -content: '\f096';
}
