.message {
  padding: .3rem .5rem .3rem .5rem;
  font-size: .8rem;
  font-weight: bold;
  border-bottom-width: 1px solid var(--bg);
}

.message--error {
  white-space: pre;
  color: var(--danger-color);
}

.message__sourceLink {
  margin: 0 .5em;
  cursor: pointer;
  opacity: .8;
  text-decoration: underline;
}
