.output {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.output-cornerbar {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .2em;
  background-color: var(--bg);
  border-top-left-radius: .2em;
}

.output-save_changes {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 0.8125em;
  font-family: inherit;
  border-bottom: 1px dotted;
  line-height: 1;
  padding: 0;
  margin: .2em;
  cursor: pointer;
}

.output-save_changes:focus {
  outline: none;
}

.output-scroll_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  transform: translateZ(0);
}
