.treenode {
  /* for toggler absolute pos */
  position: relative;
}

.treenode-children {
  padding-left: 1.3em;
}

.treenode--groupstart {
  border-top-width: 1px;
  border-top-style: dotted;
  padding-top: .5em;
  margin-top: .5em;
}

.treenode--groupstart::before {
  content: attr(data-group);
  position: absolute;
  top: -.5em;
  left: 5em;
  line-height: 1em;
  font-size: x-small;
  padding-left: .5em;
  padding-right: .5em;
}

/*.light*/ .treenode--groupstart::before {
  color: #888;
  background-color: #FCFCFC;
}

.dark .treenode--groupstart::before {
  color: #888;
  background-color: #272822;
}

/*.light*/ .treenode--groupstart {
  border-top-color: #ccc;
}

.dark .treenode--groupstart {
  border-top-color: #444;
}

.treenode-header {
  padding-left: .2em;
  display: block;
  line-height: 1.4375;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.light*/ .treenode-header--selected,
/*.light*/ .treenode-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*.light*/ .treenode-header--selected {
  color: black;
  -box-shadow: 4px 0 0 -2px #8f908a inset;
}

.dark .treenode-header--selected,
.dark .treenode-header:hover {
  background-color: rgba(255, 255, 255, .1);
}

.dark .treenode-header--selected {
  color: white;
  -box-shadow: 4px 0 0 -2px #333 inset;
}

.treenode-toggler {
  position: absolute;
  left: -1.1em;
  top: .1875em;
  width: 1em;
  height: 1em;
  opacity: 0.5;
  font-size: .875em;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  cursor: pointer;
  white-space: nowrap;
}

.treenode-toggler:hover {
  opacity: 1;
}

.treenode-toggler::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

.treenode-toggler::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.treenode-toggler-icon {
  display: block;
}

.treenode-toggler--expander::before,
.treenode-toggler--collapser::before {
  content: '\e80e';
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  transition: transform .2s ease;
}

.treenode-toggler--expander::before {
  transform: rotate(0deg);
}

.treenode-toggler--collapser::before {
  transform: rotate(90deg);
}

.treenode-toggler--loading {
  width: 1em;
  height: 1em;
  border: .2em solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  transform-origin: center center;
  transform: rotate(700000deg);
  transition: transform 1000s linear;
}

.treenode-icon {
  /* subicons */
}

.treenode-icon::before,
.treenode-icon::after {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  text-transform: none;
  line-height: 1em;
}

.treenode-icon--database::before {
  content: '\e801';
}

.treenode-icon--schema::before {
  content: '\e806';
}

.treenode-icon--extension::before {
  content: '\e808';
}

.treenode-icon--func::before,
.treenode-icon--agg::before {
  content: '\e80b';
}

.treenode-icon--table::before,
.treenode-icon--view::before,
.treenode-icon--matview::before,
.treenode-icon--foreigntable::before {
  content: '\e810';
}

.treenode-icon--column::before {
  content: '\e80d';
}

.treenode-icon--pkcolumn::before {
  content: '\e80a';
}

.treenode-icon--fkcolumn::before {
  content: '\e80d';
}

.treenode-icon--index::before {
  content: '\e80f';
}

.treenode-icon--trigger::before {
  content: '\e805';
}

.treenode-icon--foreignkey::before {
  content: '\e80c';
}

.treenode-icon--unique::before {
  content: '\e80a';
}

.treenode-icon--check::before {
  content: '\e807';
}

.treenode-icon::after {
  border-radius: 50%;
  font-size: .75em;
  margin-left: -1em;
  position: relative;
  top: .2em;
  left: .2em;
  background-color: #eee;
}

/*.light*/ .treenode-icon::after {
  color: white;
}


.treenode-icon--view::after {
  content: '\e80b';
}

/*.light*/ .treenode-icon--view::after {
  background-color: red;
}

.dark .treenode-icon--view::after {
  background-color: #a20000;
}

.treenode-icon--matview::after {
  content: '\e80b';
}

/*.light*/ .treenode-icon--matview::after {
  background-color: green;
}

.dark .treenode-icon--matview::after {
  background-color: green;
}

.treenode-icon--foreigntable::after {
  content: '\e809';
}

/*.light*/ .treenode-icon--foreigntable::after {
  background-color: purple;
}

.dark .treenode-icon--foreigntable::after {
  background-color: purple;
}

.treenode-icon--fkcolumn::after {
  content: '\e803';
}

/*.light*/ .treenode-icon--fkcolumn::after {
  background-color: #ddd;
  color: inherit;
}

.dark .treenode-icon--fkcolumn::after {
  background-color: #272822;
  color: inherit;
}

.treenode-name {
  margin: 0 .3em;
}

.treenode-comment {
  opacity: .7;
}

.treenode-showall_layout {
}

.treenode-showall {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
  border: none;
  color: inherit;
  background: none;
  outline: none;
  font-family: inherit;
  font-size: smaller;
  line-height: 2em;
  cursor: pointer;
  white-space: nowrap;
  color: #888;
}

.treenode-showall::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

.treenode-showall::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.treenode-showall:hover {
  text-decoration: underline;
}

.treenode-showall::before {
  content: '…';
  margin-left: .4em;
  margin-right: .4em;
  speak: none;
  text-decoration: none;
}

.treenode-message_layout {
  display: inline-block;
  margin-top: .5em;
  margin-bottom: .4em;
}

.treenode-message {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.treenode-message::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  text-transform: none;
  line-height: 1em;
  margin-right: .3em;
}

/*.light*/.treenode-message--info {
  color: #888;
}

.dark .treenode-message--info {
  color: #aaa;
}

.treenode-message--info::before {
  content: '\e804';
}

.treenode-message--error {
  color: #D65151;
}

.treenode-message--error::before {
  content: '\e802';
}

.baloon {
  position: relative;
  border: 1px solid;
  padding: .3em .2em;
  font-size: smaller;
  border-radius: 2px;
  min-width: 1em;
  box-shadow: 0 0 .4em;
}

/*.light*/.baloon {
  background-color: white;
  color: #ddd;
}

.dark .baloon {
  background-color: #333;
  color: #222;
}

/* tip */
.baloon::before {
  content: '';
  position: absolute;
  font-size: 8px;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  top: -.5em;
  left: .8em;
  background-color: inherit;
  transform: rotate(45deg);
  border: 1px solid;
  border-left-color: inherit;
  border-top-color: inherit;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
