


.light { color: #555; }
.light .queryplan-overlay { background-color: rgba(255,255,255,.7); }
.light .node .node-back { fill: #fff; }
.light .node text { fill: #333; }
.light .edgePath path { stroke: #999; }
.light .queryplan-tip        { background-color: rgba(50, 50, 50, .9); }
.light .queryplan-tip::after { border-top-color: rgba(50, 50, 50, .9); }
.light .queryplan-overlay {
    background-image: -webkit-linear-gradient(left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);

    background-image: -moz-linear-gradient(left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);

    background-image: -ms-linear-gradient(left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);

    background-image: linear-gradient(to left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);
    }




.dark { color: #ddd; }
.dark .queryplan { background-color: rgba(39, 40, 34,.7); }
.dark .node .node-back { fill: #000; }
.dark .node text { fill: #ddd; }
.dark .edgePath path { stroke: #555; }
.dark .queryplan-tip        { background-color: rgba(0, 0, 0, .9); }
.dark .queryplan-tip::after { border-top-color: rgba(0, 0, 0, .9); }
.dark .queryplan-overlay {
    background-image: -webkit-linear-gradient(left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);

    background-image: -moz-linear-gradient(left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);

    background-image: -ms-linear-gradient(left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);

    background-image: linear-gradient(to left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);
    }




.node .node-overlay { fill: #888; fill-opacity: .5; }


.queryplan,
.queryplan-tip {
    font-family: Ubuntu, Verdana, sans-serif;
    }

.queryplan__edge {
    fill: none;
    stroke: #555;
    }


.queryplan-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-size: 2px 100%;
    }

.queryplan {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
    font-size: 14px;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    }

.queryplan,
.queryplan > g {
    outline: 2px solid black;
}

.queryplan:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }


.edgePath path {
    stroke-width: 2px;
    fill: none;
    }




.queryplan-tip {
    -webkit-transform: translate(-50%, -100%);
       -moz-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);

    position: fixed;
    margin-top: -10px;

    line-height: 1;
    padding: 12px;

    color: #ddd;
    border-radius: 2px;
    font-size: 10px;

    box-shadow: 0 0 1em black;

    white-space: nowrap;
    pointer-events: none;
    }

.queryplan-tip table {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    }

/* Creates a small triangle extender for the tooltip */
.queryplan-tip:after {
    content: '';
    display: block;
    border-width: .5em;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    bottom: -1em;
    left: 50%;
    margin-left: -.5em;
    }


.queryplan-close {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10;
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    }

.queryplan-close::before {
    content: '×';
    font-size: 16px;
    font-weight: bold;
    }
