<link rel="import" href="../knockout.html" />
<link rel="import" href="../knockout-flatbind.html" />
<link rel="import" href="../bindings/cssmod.html" />
<link rel="import" href="../extenders/persist.html" />
<link rel="import" href="pgbb-splitpanel.html" />
<link rel="import" href="pgbb-nav.html" />
<link rel="import" href="pgbb-codeform.html" />
<link rel="import" href="../fontello.html" />

<style>
  .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    font-family: 'DejaVu Sans', 'Verdana', sans-serif;
  }

  /* .light */.main {
    color: #555;
    background-color: #eee;
  }

  .dark.main {
    color: #ddd;
    background-color: #333;
  }

  .main__leftbar {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    padding: .5em .1em;
  }

  /* .light */ .main__leftbar {
    background-color: #eee;
    box-shadow: 0 0 .5em #ccc;
  }

  .dark .main__leftbar {
    background-color: #333;
    box-shadow: 0 0 .5em #151515;
  }

  .main__leftbar {
    z-index: 2;
  }

  .main__theme-toggler {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    cursor: pointer;
    white-space: nowrap;
  }

  .main__theme-toggler::-webkit-focus-inner {
    border: 0;
    padding: 0;
  }

  .main__theme-toggler::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .main__theme-toggler::before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    font-size: 115%;

    content: '\e800';
  }

  .main__splitpanel-h {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 1.3125em;
  }

  .main__splitpanel-v,
  .main__codeform,
  .main__output,
  .main__nav {
    display: block;
    width: 100%;
    height: 100%;
  }

  .main__nav {
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* iframe */.main__output {
    border: none;
  }

  /* .light */ .main__nav,
  /* .light */ .main__codeform,
  /* .light */ .main__output {
    background-color: #fcfcfc;
  }

  .dark .main__nav,
  .dark .main__codeform,
  .dark .main__output {
    background-color: #272822;
  }


  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding: 2px;
  }

  /*.light*/ *::-webkit-scrollbar,
  /*.light*/ *::-webkit-scrollbar-corner {
    background-color: #ddd;
  }

  .dark *::-webkit-scrollbar,
  .dark *::-webkit-scrollbar-corner {
    background-color: #222;
  }

  *::-webkit-scrollbar-button:start:decrement,
  *::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid;
  }

  /*.light*/ *::-webkit-scrollbar-thumb {
    background-color: #999;
    color: #ddd;
  }

  .dark *::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.2);
    color: #222;
  }

  .dark * {
    scrollbar-base-color: #333;
    scrollbar-3dlight-color: #222;
    scrollbar-highlight-color: #222;
    scrollbar-track-color: #222;
    scrollbar-arrow-color: #888;
    scrollbar-shadow-color: #222;
    scrollbar-dark-shadow-color: #222;
  }
</style>

<script id="pgbb-app-template" type="text/html">
  <div class="main"
       data-bind-css.dark="isDark">

    <div class="main__leftbar">
      <button class="main__theme-toggler"
              data-bind-click="toggleTheme">
      </button>
    </div>


    <div class="main__splitpanel-h"
         data-bind-component="'pgbb-splitpanel-h'">

      <div class="main__nav"
           data-bind="component: {
             name: 'pgbb-nav',
             params: {
               selectedDoc: selectedDoc,
               databases: databases,
               myQueriesStorage: myQueriesStorage
             }
           }"></div>

      <div class="main__splitpanel-v"
           data-bind="component: 'pgbb-splitpanel-v'">

        <form class="main__codeform"
              target="output-iframe"
              method="POST"
              action="exec"
              data-bind="component: {
                name: 'pgbb-codeform',
                params: { doc: selectedDoc }
              }, submit: onCodeFormSubmit"></form>

        <iframe class="main__output"
                name="output-iframe"
                data-bind="outputFrame: {
                  doc: selectedDoc,
                  isDark: isDark
                }"></iframe>

      </div>

      <button id="share-action"
              accesskey="s"
              style="display:none"
              ></button>

    </div>
  </div>
</script>

<script>
define('pgbb-app-viewmodel', ['knockout'], function (ko) {
  /**
   * @constructor
   */
  function Main(params) {
      this['isDark'] =
      this.isDark = ko.observable().extend({
          persist: 'pgblackboard_isdark'
      });

      this['databases'] = (params.initialData || this.initialData).databases;

      var initialDoc = ko.observable(this.initialCode).extend({
          codeEditorDoc: true
      });

      this['selectedDoc'] = ko.observable(initialDoc);
  }

  Main.prototype.myQueriesStorage = window.localStorage;
  Main.prototype.initialCode = window.location.hash || 'select \'awesome\'';
  Main.prototype.initialData = {
    databases: []
  };

  Main.prototype['toggleTheme'] = function () {
      this.isDark(!this.isDark());
  };

  Main.prototype['onCodeFormSubmit'] = function () {
      if (this['selectedDoc']()['errors']) {
          this['selectedDoc']()['errors'].removeAll();
      }
      return true;
  };

  return Main;
});
</script>

<script>
require(['knockout', 'pgbb-app-viewmodel'], function (ko, viewModel) {
  ko.components.register('pgbb-app', {
    synchronous: true,
    template: { element: 'pgbb-app-template' },
    viewModel: viewModel
  });
});
</script>
