<link rel="import" href="../knockout.html" />
<link rel="import" href="../knockout-flatbind.html" />
<link rel="import" href="../bindings/cssmod.html" />

<style media="screen">
.splitpanel-v__splitter,
.splitpanel-v--splitting {
  cursor: ns-resize;
}

.splitpanel-v__splitter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 6px;
}

.splitpanel-h__splitter,
.splitpanel-h--splitting {
  cursor: ew-resize;
}

.splitpanel-h__splitter {
  position: absolute;
  right: 70%;
  top: 0;
  bottom: 0;
  width: 6px;
}

.splitpanel-h,
.splitpanel-v {
  position: relative;
  height: 100%;
}

.splitpanel-h__left {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  margin-right: 6px;
}

.splitpanel-h__right {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 30%;
}

.splitpanel-v__top {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  margin-bottom: 6px;
}

.splitpanel-v__bottom {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
}


.splitpanel-h--splitting,
.splitpanel-v--splitting {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.splitpanel-h--splitting iframe,
.splitpanel-v--splitting iframe {
  pointer-events: none;
}
</style>

<script id="pgbb-splitpanel-h-template" type="text/html">
  <div class="splitpanel-h"
       data-bind-cssmod.splitting="isSplitting">

    <div class="splitpanel-h__left"
         data-bind-style="aPanelPos"
         data-bind-template.nodes="[aPanelContent]"
         data-bind-template.data="$parent">
    </div>

    <div class="splitpanel-h__splitter"
         data-bind-style="splitterPos"
         data-bind-event.mousedown="beginSplit">
    </div>

    <div class="splitpanel-h__right"
         data-bind-style="bPanelPos"
         data-bind-template.nodes="[bPanelContent]"
         data-bind-template.data="$parent">
    </div>
  </div>
</script>

<script id="pgbb-splitpanel-v-template" type="text/html">
  <div class="splitpanel-v"
       data-bind-cssmod.splitting="isSplitting">

    <div class="splitpanel-v__top"
         data-bind-style="aPanelPos"
         data-bind-template.nodes="[aPanelContent]"
         data-bind-template.data="$parent">
    </div>

    <div class="splitpanel-v__splitter"
         data-bind-style="splitterPos"
         data-bind-event.mousedown="beginSplit">
    </div>

    <div class="splitpanel-v__bottom"
         data-bind-style="bPanelPos"
         data-bind-template.nodes="[bPanelContent]"
         data-bind-template.data="$parent">
    </div>
  </div>
</script>

<script>
define('pgbb-splitpanel-viewmodel', ['knockout'], function (ko) {


  // module.exports = {
  //     horizontal: splitPanelViewModel(true /* horizontal */),
  //     vertical: splitPanelViewModel(false /* vertical */)
  // };

  function splitPanelViewModel(isHorizontal) {
      function createViewModel(params, componentInfo) {
          var elemTemplateNodes = componentInfo['templateNodes'].filter(
              function (node) { return node.nodeType == 1; }
          );
          var panel1 = elemTemplateNodes[0];
          var panel2 = elemTemplateNodes[1];
          return new SplitPanel(panel1, panel2, isHorizontal);
      }

      return { 'createViewModel': createViewModel };
  }

  /** @constructor */
  function SplitPanel(aPanelContent, bPanelContent, isHorizontal) {
      /** @expose */
      this.aPanelContent = aPanelContent;

      /** @expose */
      this.bPanelContent = bPanelContent;

      /** @expose */
      this.aPanelPos = ko.observable();

      /** @expose */
      this.bPanelPos = ko.observable();

      /** @expose */
      this.splitterPos = ko.observable();

      /** @expose */
      this.isSplitting = ko.observable(false);

      this.resize = (isHorizontal ? this.resizeV : this.resizeH);
  }

  /** @expose */
  SplitPanel.prototype.beginSplit = function (_, e) {
      var splitterElem = e.target;
      var container = splitterElem.parentNode;
      var containerBounds = container.getBoundingClientRect();
      var splitterWidth = splitterElem.offsetWidth;
      var splitterHeight = splitterElem.offsetHeight;
      var that = this;

      if (splitterElem.setCapture) {
          splitterElem.setCapture();
      }
      this.isSplitting(true);
      window.addEventListener('mousemove', onSplitterMouseMove);
      window.addEventListener('mouseup', onSplitterMouseUp);
      e.preventDefault(); // disable text selection

      function onSplitterMouseMove(e) {
          that.resize(
              e.clientX,
              e.clientY,
              containerBounds,
              splitterWidth,
              splitterHeight
          );
          that.fireResize();
      }

      function onSplitterMouseUp(e) {
          that.isSplitting(false);
          if (splitterElem.releaseCapture) {
              splitterElem.releaseCapture();
          }
          window.removeEventListener('mousemove', onSplitterMouseMove);
          window.removeEventListener('mouseup', onSplitterMouseUp);
          that.fireResize();
      }
  };

  SplitPanel.prototype.resizeH = function (_, splitterY, containerBounds, __, splitterHeight) {
      splitterY -= containerBounds.top;
      if (splitterY <= splitterHeight) {
          this.aPanelPos({ bottom: '100%' });
          this.bPanelPos({ top: splitterHeight + 'px' });
          this.splitterPos({ top: 0, bottom: null });
      } else {
          var percentage = (splitterY / containerBounds.height) * 100;
          percentage = Math.max(0, Math.min(100, percentage));
          this.aPanelPos({ bottom: 100 - percentage + '%' });
          this.bPanelPos({ top: percentage + '%' });
          this.splitterPos({ top: null, bottom: 100 - percentage + '%' });
      }
  };

  SplitPanel.prototype.resizeV = function (splitterX, _, containerBounds, splitterWidth) {
      splitterX -= containerBounds.left;
      if (splitterX <= splitterWidth) {
          this.aPanelPos({ right: '100%' });
          this.bPanelPos({ left: splitterWidth + 'px' });
          this.splitterPos({ left: 0, right: null });
      } else {
          var percentage = (splitterX / containerBounds.width) * 100;
          percentage = Math.max(0, Math.min(100, percentage));
          this.aPanelPos({ right: 100 - percentage + '%' });
          this.bPanelPos({ left: percentage + '%' });
          this.splitterPos({ left: null, right: 100 - percentage + '%' });
      }
  };

  SplitPanel.prototype.fireResize = function () {
      ko.utils.triggerEvent(window.document, 'resize');
  };

  return splitPanelViewModel;

});
</script>

<script>
require(['knockout', 'pgbb-splitpanel-viewmodel'], function (ko, viewModel) {
  ko.components.register('pgbb-splitpanel-h', {
    synchronous: true,
    template: { element: 'pgbb-splitpanel-h-template' },
    viewModel: viewModel(true /* isHorizontal */)
  });
  ko.components.register('pgbb-splitpanel-v', {
    synchronous: true,
    template: { element: 'pgbb-splitpanel-v-template' },
    viewModel: viewModel(false /* isHorizontal */)
  });
});
</script>
