<link rel="import" href="../knockout.html" />
<link rel="import" href="../knockout-flatbind.html" />
<link rel="import" href="../bindings/cssmod.html" />
<link rel="import" href="../fontello.html" />

<style>
  .tree {
    padding: 0;
    margin: 0;
    padding-left: 1em;
    list-style-type: none;
    white-space: nowrap;
  }

  .tree--children {
    padding-left: 1.3em;
  }

  .treenode {
    /* for toggler absolute pos */
    position: relative;
  }

  .treenode--groupstart {
    border-top-width: 1px;
    border-top-style: dotted;
    padding-top: .5em;
    margin-top: .5em;
  }

  .treenode--groupstart::before {
    content: attr(data-group);
    position: absolute;
    top: -.5em;
    left: 5em;
    line-height: 1em;
    font-size: x-small;
    padding-left: .5em;
    padding-right: .5em;
  }

  /*.light*/ .treenode--groupstart::before {
    color: #888;
    background-color: #FCFCFC;
  }

  .dark .treenode--groupstart::before {
    color: #888;
    background-color: #272822;
  }

  /*.light*/ .treenode--groupstart {
    border-top-color: #ccc;
  }

  .dark .treenode--groupstart {
    border-top-color: #444;
  }

  .treenode__header {
    padding-left: .2em;
    display: block;
    line-height: 1.4375;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*.light*/ .treenode__header--active,
  /*.light*/ .treenode__header:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  /*.light*/ .treenode__header--active {
    color: black;
    -box-shadow: 4px 0 0 -2px #8f908a inset;
  }

  .dark .treenode__header--active,
  .dark .treenode__header:hover {
    background-color: rgba(255, 255, 255, .1);
  }

  .dark .treenode__header--active {
    color: white;
    -box-shadow: 4px 0 0 -2px #333 inset;
  }

  .treenode__toggler {
    display: none;
    position: absolute;
    left: -1.1em;
    top: .1875em;
    width: 1em;
    height: 1em;
    opacity: 0.5;
    font-size: .875em;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    cursor: pointer;
    white-space: nowrap;
  }

  .treenode__toggler--visible {
    display: block;
  }

  .treenode__toggler:hover {
    opacity: 1;
  }

  .treenode__toggler::-webkit-focus-inner {
    border: 0;
    padding: 0;
  }

  .treenode__toggler::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .treenode__toggler-icon {
    display: block;
  }

  .treenode__toggler-icon--collapsed::before,
  .treenode__toggler-icon--expanded::before {
    content: '\e80e';
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    transition: transform .2s ease;
  }

  .treenode__toggler-icon--collapsed::before {
    transform: rotate(0deg);
  }

  .treenode__toggler-icon--expanded::before {
    transform: rotate(90deg);
  }

  .treenode__toggler-icon--expanding {
    width: 1em;
    height: 1em;
    border: .2em solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    transform-origin: center center;
    transform: rotate(700000deg);
    transition: transform 1000s linear;
  }

  .treenode__icon {
    /* subicons */
  }

  .treenode__icon::before,
  .treenode__icon::after {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    text-transform: none;
    line-height: 1em;
  }

  .treenode__icon--database::before {
    content: '\e801';
  }

  .treenode__icon--schema::before {
    content: '\e806';
  }

  .treenode__icon--extension::before {
    content: '\e808';
  }

  .treenode__icon--func::before,
  .treenode__icon--agg::before {
    content: '\e80b';
  }

  .treenode__icon--table::before,
  .treenode__icon--view::before,
  .treenode__icon--matview::before,
  .treenode__icon--foreigntable::before {
    content: '\e810';
  }

  .treenode__icon--column::before {
    content: '\e80d';
  }

  .treenode__icon--pkcolumn::before {
    content: '\e80a';
  }

  .treenode__icon--fkcolumn::before {
    content: '\e80d';
  }

  .treenode__icon--index::before {
    content: '\e80f';
  }

  .treenode__icon--trigger::before {
    content: '\e805';
  }

  .treenode__icon--foreignkey::before {
    content: '\e80c';
  }

  .treenode__icon--unique::before {
    content: '\e80a';
  }

  .treenode__icon--check::before {
    content: '\e807';
  }

  .treenode__icon::after {
    border-radius: 50%;
    font-size: .75em;
    margin-left: -1em;
    position: relative;
    top: .2em;
    left: .2em;
    background-color: #eee;
  }

  /*.light*/ .treenode__icon::after {
    color: white;
  }


  .treenode__icon--view::after {
    content: '\e80b';
  }

  /*.light*/ .treenode__icon--view::after {
    background-color: red;
  }

  .dark .treenode__icon--view::after {
    background-color: #a20000;
  }

  .treenode__icon--matview::after {
    content: '\e80b';
  }

  /*.light*/ .treenode__icon--matview::after {
    background-color: green;
  }

  .dark .treenode__icon--matview::after {
    background-color: green;
  }

  .treenode__icon--foreigntable::after {
    content: '\e809';
  }

  /*.light*/ .treenode__icon--foreigntable::after {
    background-color: purple;
  }

  .dark .treenode__icon--foreigntable::after {
    background-color: purple;
  }

  .treenode__icon--fkcolumn::after {
    content: '\e803';
  }

  /*.light*/ .treenode__icon--fkcolumn::after {
    background-color: #ddd;
    color: inherit;
  }

  .dark .treenode__icon--fkcolumn::after {
    background-color: #272822;
    color: inherit;
  }

  .treenode__name {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
  }

  .treenode__comment {
    opacity: .7;
  }

  .treenode__showall-layout {
    padding-left: 1.3em;
    line-height: 1.4375em;
  }

  .treenode__showall {
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background: none;
    outline: none;
    font-family: inherit;
    font-size: smaller;
    line-height: 1em;
    cursor: pointer;
    white-space: nowrap;
    color: #888;
  }

  .treenode__showall::-webkit-focus-inner {
    border: 0;
    padding: 0;
  }

  .treenode__showall::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .treenode__showall:hover {
    text-decoration: underline;
  }

  .treenode__showall::before {
    content: '…';
    margin-left: .4em;
    speak: none;
    text-decoration: none;
  }

  .treenode__message-layout {
    display: none;
    margin-top: .5em;
    margin-bottom: .4em;
  }

  .treenode__message-layout--visible {
    display: inline-block;
  }

  .treenode__message {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .treenode__message::before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    margin-right: .3em;
  }

  /*.light*/.treenode__message--info {
    color: #888;
  }

  .dark .treenode__message--info {
    color: #aaa;
  }

  .treenode__message--info::before {
    content: '\e804';
  }

  .treenode__message--error {
    color: #D65151;
  }

  .treenode__message--error::before {
    content: '\e802';
  }

  .baloon {
    position: relative;
    border: 1px solid;
    padding: .3em .2em;
    font-size: smaller;
    border-radius: 2px;
    min-width: 1em;
    box-shadow: 0 0 .4em;
  }

  /*.light*/.baloon {
    background-color: white;
    color: #ddd;
  }

  .dark .baloon {
    background-color: #333;
    color: #222;
  }

  /* tip */
  .baloon::before {
    content: '';
    position: absolute;
    font-size: 8px;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    top: -.5em;
    left: .8em;
    background-color: inherit;
    transform: rotate(45deg);
    border: 1px solid;
    border-left-color: inherit;
    border-top-color: inherit;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
</style>

<script id="pgbb-tree-template" type="text/html">
  <ul class="tree" data-bind-foreach="nodes">
    <li class="treenode"
        data-bind-cssmod.groupstart="groupStart"
        data-bind-attr.data-group="groupStart">

      <button class="treenode__toggler"
              data-bind-cssmod.visible="isExpandable"
              data-bind-click="toggle">

        <i class="treenode__toggler-icon"
           data-bind-cssmod.collapsed="isCollapsed"
           data-bind-cssmod.expanding="isExpanding"
           data-bind-cssmod.expanded="isExpanded"></i>

      </button>

      <a class="treenode__header"
         data-bind-cssmod.active="isSelected"
         data-bind-attr.title="comment"
         data-bind-click="$component.selectNode">

        <i class="treenode__icon"
           data-bind-cssmod="type"></i>

        <span data-bind-text="name"></span>

        <small class="treenode__comment"
               data-bind-text="comment"></small>
      </a>

      <div class="treenode__message-layout"
           data-bind-cssmod.visible="message"
           data-bind-with="message">
        <div class="baloon">
          <div class="treenode__message"
               data-bind-cssmod.error="isError"
               data-bind-cssmod.info="!ko.unwrap(isError)"
               data-bind-text="body">
          </div>
        </div>
      </div>

      <div class="treenode__children"
           data-bind-template.if="nodes"
           data-bind-template.name="'pgbb-tree-template'">
      </div>

      <div class="treenode__showall-layout"
           data-bind-if="nodesAreLimited">
        <button class="treenode__showall"
                data-bind-click="showAllNodes">
          show all <strong data-bind-text="allNodesCount"></strong> items
        </button>
      </div>
    </li>
  </ul>
</script>

<script>
define('pgbb-tree-viewmodel', ['require', 'module'], function (require, module) {
  var ko = require('knockout');

  module.exports = Tree;

  /** @constructor */
  function Tree(params) {

      /** @expose */
      this.selectNode = params['selectNodeCallback'];

      /** @expose */
      this.nodes = params['nodes'].map(this.createNode, this);

      /** @private */
      this.lastNodeWithMessage = null;
  }

  Tree.TreeNode = TreeNode;

  /** @private */
  Tree.prototype.createNode = function (dto, index, array) {
      var groupStart = index > 0 &&
                       array[index - 1]['group'] != dto['group'] &&
                       dto['group'];
      return new TreeNode(dto, this, groupStart);
  };

  /** @private */
  Tree.prototype.setNodeMessage = function (node, message) {
      if (this.lastNodeWithMessage) {
          this.lastNodeWithMessage.message(null);
      }

      if (message) {
          this.lastNodeWithMessage = node;
      }

      node.message(message);
  };

  /** @constructor */
  function TreeNode(nodeDTO, ownerTree, groupStart) {

      /** @private */
      this.path = nodeDTO['path'];

      /** @private */
      this.ownerTree = ownerTree;

      /** @private */
      this.allNodes = ko.observable(null);

      /** @expose */
      this.allNodesCount = ko.pureComputed(this.getAllNodesCount, this);

      /** @expose */
      this.limitNodes = ko.observable(true);

      /** @expose */
      this.nodesAreLimited = ko.pureComputed(this.checkNodesAreLimited, this);

      /** @expose */
      this.nodes = ko.pureComputed(this.getNodes, this);

      /** @expose */
      this.message = ko.observable(null);

      /** @expose */
      this.isExpanding = ko.observable(false);

      /** @expose */
      this.isExpanded = ko.pureComputed(this.checkIsExpanded, this);

      /** @expose */
      this.isCollapsed = ko.pureComputed(this.checkIsCollapsed, this);

      /** @expose */
      this.isSelected = ko.observable(false);

      /** @expose */
      this.name = nodeDTO['name'];

      /** @expose */
      this.type = nodeDTO['typ'];

      /** @expose */
      this.comment = nodeDTO['comment'];

      /**
       * toggler is visible when `isExpandable` is true
       * @expose
       */
      this.isExpandable = nodeDTO['can_have_children'];

      /**
       * horizontal line is drawn above groupStart node
       * @expose
       */
      this.groupStart = groupStart;
  }

  /** @private */
  TreeNode.prototype.nodeLimit = 200;

  /** @private */
  TreeNode.prototype.getAllNodesCount = function () {
      return this.allNodes() && this.allNodes().length;
  };

  /** @private */
  TreeNode.prototype.checkNodesAreLimited = function () {
      var limitedNodes = this.nodes();
      var allNodes = this.allNodes();
      return Boolean(
          allNodes &&
          limitedNodes &&
          limitedNodes.length < allNodes.length
      );
  };

  /** @private */
  TreeNode.prototype.getNodes = function () {
      var allNodes = this.allNodes();
      return allNodes && (
          this.limitNodes() ? allNodes.slice(0, this.nodeLimit) : allNodes
      );
  };

  /** @expose */
  TreeNode.prototype.toggle = function () {
      if (this.isExpanded()) {
          this.collapse();
      } else {
          this.expand();
      }
  };

  /** @expose */
  TreeNode.prototype.showAllNodes = function () {
      this.limitNodes(false);
  };

  /** @private */
  TreeNode.prototype.collapse = function () {
      this.allNodes(null);
      this.limitNodes(true);
  };

  /** @private */
  TreeNode.prototype.expand = function () {
      this.isExpanding(true);
      this.loadChildren({
          success: this.onChildrenLoaded.bind(this),
          error: this.onChildrenLoadError.bind(this)
      });
  };

  /** @private */
  TreeNode.prototype.onChildrenLoaded = function (nodeDTOs) {
      this.isExpanding(false);
      if (nodeDTOs.length > 0) {
          this.ownerTree.setNodeMessage(this, null);
          this.allNodes(nodeDTOs.map(this.ownerTree.createNode, this.ownerTree));
      } else {
          this.ownerTree.setNodeMessage(this, {
              'isError': false,
              'body': 'There is no child items yet.'
          });
      }
  };

  /** @private */
  TreeNode.prototype.onChildrenLoadError = function (errorMessage) {
      this.isExpanding(false);
      this.ownerTree.setNodeMessage(this, {
          'isError': true,
          'body': errorMessage
      });
  };

  /** @private */
  TreeNode.prototype.checkIsExpanded = function () {
      return this.nodes() && !this.isExpanding();
  };

  /** @private */
  TreeNode.prototype.checkIsCollapsed = function () {
      return !this.nodes() && !this.isExpanding();
  };

  TreeNode.prototype.getDoc = function () {
      var doc = ko.observable().extend({ codeEditorDoc: true });

      this.request('definitions', {
          success: function (resp) {
              doc(resp);
              doc.notifySubscribers(doc(), 'ready');
          },
          error: function (message) {
              doc('/*\n  ' + message + '\n*/');
              doc.notifySubscribers(doc(), 'ready');
          }
      });

      return doc;
  };

  /** @private */
  TreeNode.prototype.loadChildren = function (options) {
      return this.request('tree', options);
  };

  /** @private */
  TreeNode.prototype.request = function (action, options) {
      var req = new XMLHttpRequest();
      req.onload = onLoad;
      req.onerror = onError;
      req.open('GET', [action].concat(this.path)
                              .map(encodeURIComponent)
                              .join('/'));
      req.send();

      var callbackContext = this;

      function onLoad(e) {
          var responseObj = JSON.parse(e.target.responseText);
          if (e.target.status === 200) {
              options.success.call(callbackContext, responseObj);
          } else {
              options.error.call(callbackContext, responseObj);
          }
      }

      function onError(e) {
          options.error.call(
              callbackContext,
              'Network error occured.'
          );
      }
  };
});
</script>

<script>
require(['knockout', 'pgbb-tree-viewmodel'], function (ko, viewModel) {
  ko.components.register('pgbb-tree', {
    synchronous: true,
    template: { element: 'pgbb-tree-template' },
    viewModel: viewModel
  });
});
</script>
