<link rel="import" href="../knockout.html" />
<link rel="import" href="../knockout-flatbind.html" />
<link rel="import" href="../bindings/cssmod.html" />
<link rel="import" href="../bindings/codemirror.html" />

<style>
  .codeform {
    position: relative;
    height: 100%;
  }

  .codeform__textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    padding: 0;
  }

  .codeform__execbar {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: .2em;
    border-top-left-radius: .3em;
    white-space: nowrap;
  }

  /*.light*/ .codeform__execbar {
    background-color: #eee;
  }

  .dark .codeform__execbar {
    background-color: #333;
  }

  /*button*/.codeform__exec-table,
  /*button*/.codeform__exec-map {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 1em;
    cursor: pointer;
    white-space: nowrap;

    border-top: 1px solid transparent; /* for simmetric align */
    border-bottom: 1px dotted;
    margin-left: .2em;
    margin-right: .2em;
    font-size: 0.8125em;
  }

  /*.light*/ /*button*/.codeform__exec-table:hover,
  /*.light*/ /*button*/.codeform__exec-map:hover {
    color: #333;
  }

  .dark /*button*/.codeform__exec-table:hover,
  .dark /*button*/.codeform__exec-map:hover {
    color: orange;
  }

  /*button*/.codeform__exec-table {
    font-weight: bold;
  }

  /*button*/.codeform__exec-table::-webkit-focus-inner,
  /*button*/.codeform__exec-map::-webkit-focus-inner {
    border: 0;
    padding: 0;
  }

  /*button*/.codeform__exec-table::-moz-focus-inner,
  /*button*/.codeform__exec-map::-moz-focus-inner {
    border: 0;
    padding: 0;
  }


  .codeform__shield {
    visibility: hidden;
    overflow: hidden;
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0,.1);
    opacity: 0;
    transition: opacity .5s ease;
  }

  .codeform__shield--visible {
    visibility: visible;
    opacity: 1;
  }

  .codeform__shield::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    font-size: 60px;
    opacity: .5;

    width: 1em;
    height: 1em;
    border: .1em solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    transform-origin: center center;
    transition: transform 1000s linear;
  }

  .codeform__shield--visible::before {
    transform: rotate(700000deg);
  }
</style>

<script id="pgbb-codeform-template" type="text/html">
  <div class="codeform">

    <textarea name="sqlscript"
              data-bind-codemirror="true"
              data-bind-value="readyDoc()"
              class="codeform__textarea">
    </textarea>



    <input name="sel_anchor_line"
           type="hidden"
           data-bind="value: selectionAnchorLine,
                      enable: typeof selectionAnchorLine() === 'number'" />

    <input name="sel_anchor_col"
           type="hidden"
           data-bind="value: selectionAnchorCol,
                      enable: typeof selectionAnchorCol() === 'number'" />

    <input name="sel_head_line"
           type="hidden"
           data-bind="value: selectionHeadLine,
                      enable: typeof selectionHeadLine() === 'number'" />

    <input name="sel_head_col"
           type="hidden"
           data-bind="value: selectionHeadCol,
                      enable: typeof selectionHeadCol() === 'number'" />

    <div class="codeform__execbar">
      <button name="view"
              value="Map"
              class="codeform__exec-map"
              type="submit"
              title="alt-m"
              accesskey="m"
              >map</button>

      <button name="view"
              value="Table"
              class="codeform__exec-table"
              type="submit"
              title="alt-x"
              accesskey="x"
              >execute</button>
    </div>

    <div class="codeform__shield"
         data-bind-cssmod.visible="isLoading">
    </div>

  </div>
</script>

<script>
define('pgbb-codeform-viewmodel', ['knockout'], function (ko) {
  /**
   * @constructor
   * @param {{doc}} params
   */
  function CodeForm(params) {
    this.doc = params['doc'];

    /** @expose */
    this.isLoading = ko.pureComputed(this.checkIsLoading, this);

    /** @expose */
    this.readyDoc = ko.computed(this.getReadyDoc, this);

    var selectionRange = ko.pureComputed(function () {
      var selectionRange = this.readyDoc() &&
                           this.readyDoc()['selectionRange']() || {};
      return selectionRange.anchorLine === selectionRange.headLine &&
         selectionRange.anchorCol === selectionRange.headCol ?
         {} : selectionRange;
    }, this);

    /** @expose */
    this.selectionAnchorLine = ko.pureComputed(function () {
      return selectionRange().anchorLine;
    });
    /** @expose */
    this.selectionAnchorCol = ko.pureComputed(function () {
      return selectionRange().anchorCol;
    });
    /** @expose */
    this.selectionHeadLine = ko.pureComputed(function () {
      return selectionRange().headLine;
    });
    /** @expose */
    this.selectionHeadCol = ko.pureComputed(function () {
      return selectionRange().headCol;
    });
  }

  /** @private */
  CodeForm.prototype.checkIsLoading = function () {
    return this.doc() && typeof this.doc()() === 'undefined';
  };

  /** @private */
  CodeForm.prototype.getReadyDoc = function () {
    if (!this.isLoading()) {
      this.readyDocVal = this.doc();
    }
    return this.readyDocVal;
  };

  return CodeForm;
});
</script>

<script>
require(['knockout', 'pgbb-codeform-viewmodel'], function (ko, viewModel) {
  ko.components.register('pgbb-codeform', {
    synchronous: true,
    template: { element: 'pgbb-codeform-template' },
    viewModel: viewModel
  });
});
</script>
