<link rel="import" href="../imd.html" />
<link rel="import" href="../knockout.html" />
<link rel="import" href="../knockout-flatbind.html" />
<link rel="import" href="../bindings/cssmod.html" />

<style>
  .queryplan-popup {
    transform: translate(-50%, -100%);

    position: fixed;
    z-index: 1;
    margin-top: -10px;

    line-height: 1;
    padding: 12px;

    color: #ddd;
    border-radius: 2px;
    font-size: 10px;

    box-shadow: 0 0 1em black;

    white-space: nowrap;
    pointer-events: none;
    display: none;

    left: 0;
    top: 0;
  }

  /*.light*/ .queryplan-popup {
    background-color: rgba(50, 50, 50, .9);
  }

  /*.light*/ .queryplan-popup::after {
    border-top-color: rgba(50, 50, 50, .9);
  }

  .dark .queryplan-popup {
    background-color: rgba(0, 0, 0, .9);
  }

  .dark .queryplan-popup::after {
    border-top-color: rgba(0, 0, 0, .9);
  }

  .queryplan-popup table {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  /* Creates a small triangle extender for the tooltip */
  .queryplan-popup::after {
    content: '';
    display: block;
    border-width: .5em;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -1em;
    left: 50%;
    margin-left: -.5em;
  }
</style>

<script>
'use strict';

define('pgbb-popup', function (require, exports) {
  ko.components.register('pgbb-popup', {
    template: [],
    viewModel: {
      createViewModel: createViewModel
    }
  });

  function createViewModel(params, componentInfo) {
    var targetElem = componentInfo.element.parentNode;

    function getPopup() {
      const popupProp = 'pgBlackboardQueryplanPopup';
      var ownerDocument = targetElem.ownerDocument;
      return ownerDocument[popupProp] || (
        ownerDocument[popupProp] = setupPopup(ownerDocument)
      );
    }

    var isCaptured = false;
    var hidePopupOnReleaseCapture = false;

    function onMouseDown(e) {
      if (e.which == 1) {
        isCaptured = true;
      }
    }

    function onMouseUp() {
      isCaptured = false;
      var popup = getPopup();
      popup.updatePosition();
      if (hidePopupOnReleaseCapture) {
        popup.hide();
      }
    }

    function onMouseEnter(e) {
      hidePopupOnReleaseCapture = false;
      if (!isCaptured) {
        var contentElem = targetElem.ownerDocument.createElement('div');
        ko.applyBindingsToNode(contentElem, {
          template: {
            nodes: componentInfo.templateNodes
          }
        }, ko.contextFor(targetElem));

        var popup = getPopup();
        popup.setContent(contentElem);
        popup.showOn(targetElem);
      }
    }

    function onMouseLeave(e) {
      hidePopupOnReleaseCapture = true;
      if (!isCaptured) {
        var popup = getPopup();
        popup.hide();
      }
    }

    targetElem.addEventListener('mouseenter', onMouseEnter);
    targetElem.addEventListener('mouseleave', onMouseLeave);
    targetElem.addEventListener('mousedown', onMouseDown);
    targetElem.addEventListener('mouseup', onMouseUp);

    return {
      dispose: function () {
        targetElem.removeEventListener('mouseenter', onMouseEnter);
        targetElem.removeEventListener('mouseleave', onMouseLeave);
        targetElem.removeEventListener('mousedown', onMouseDown);
        targetElem.removeEventListener('mouseup', onMouseUp);
      }
    };
  }

  function setupPopup(ownerDocument) {
    var popupElem = ownerDocument.createElement('div');
    popupElem.className = 'queryplan-popup';
    ownerDocument.body.appendChild(popupElem);
    var popup = new QueryplanPopup(popupElem);
    ownerDocument.addEventListener('zoompan', popup.updatePosition.bind(popup));
    return popup;
  }

  /** @constructor */
  function QueryplanPopup(popupElem) {
    this.currentTarget = null;
    this.popupElem = popupElem;
  }

  QueryplanPopup.prototype.showOn = function (target) {
    this.currentTarget = target;
    this.popupElem.style.display = 'block';
    this.updatePosition();
  };

  QueryplanPopup.prototype.updatePosition = function () {
    if (!this.currentTarget) {
      return;
    }
    var targetBBox = this.currentTarget.getBoundingClientRect();
    var top = targetBBox.top;
    var left = targetBBox.left + targetBBox.width / 2;
    // setCssTransform(this.popupElem, 'translate(' + left + 'px,' + top + 'px)');

    this.popupElem.style.top = top + 'px';
    this.popupElem.style.left = left + 'px';
  };

  QueryplanPopup.prototype.hide = function () {
    this.currentTarget = null;
    this.popupElem.style.display = 'none';
  };

  QueryplanPopup.prototype.setContent = function (content) {
    ko.virtualElements.setDomNodeChildren(this.popupElem, [content]);
  };

});
</script>



<!--
<button style="transform: translate(100px, 100px)">
  hover me

  <pgbb-popup>
    <span data-bind-text="popupText"></span>
  </pgbb-popup>
</button>

<script>
require(['knockout'], function (ko) {
  ko.applyBindings({
    popupText: 'hello!'
  });
});
</script>
-->
