.auth {
  background-color:  hsl(0 0% 14%);
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 20em;
  margin: 10em auto;
}

.auth-user,
.auth-password {
  all: unset;
  border-bottom: 1px solid #8885;
  line-height: 2.5;
  padding: 0 .5em;
}

.auth-user {
  /* border-top: 1px solid #8885; */
}

.auth-user:focus,
.auth-password:focus {
  outline: none;
}

.auth-submit {
  all: unset;
  font-size: .75rem;
  line-height: 2rem;
  font-weight: 500;
  font-stretch: normal;
  background-color: #444;
  border-radius: 1rem;
  text-transform: uppercase;
  margin: 1rem 2rem;
  cursor: pointer;
  transition: opacity 200ms ease;
  text-align: center;
}
.auth-submit[data-pending] {
  background-image: linear-gradient(to right, #fff0 0%, #fff2 50%, #fff0 100%);
  background-repeat: no-repeat;
  animation: 2s infinite auth-submit_pending;
}
.auth-submit:disabled {
  cursor: initial;
  opacity: .5;
  /* background-color: #333; */
}

@keyframes auth-submit_pending {
  0% { background-position: -20em 0; }
  100% { background-position: 20em 0; }
}

.auth-error {
  white-space: pre-wrap;
  line-height: 1.2;
  color: #e26488;
}
