td, th {
    border: 1px solid #555;
    padding: .2em;
    }

/* 6em width for all columns except row number */
th + th {
    width: 6em;
    }

.coltype {
    color: #aaa;
    text-transform: uppercase;
    display: block;
    font-size: .5em;
    }

td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 50em;
    vertical-align: top;
    }

/* expand cell content on focus */
td:focus {
    white-space: pre;
    overflow-wrap: break-word;
    }

/* row number */
th:first-child::before {
    content: '#';
    }

td:first-child {
    text-align: right;
    background-color: #444;
    font-weight: bold;
    }

td:first-child::before {
    counter-increment: rownum;
    content: counter(rownum);
    }

table {
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;

    }

tbody {
    counter-reset: rownum;
    }


th {
    background-color: #444;
    }



tr:nth-child(even) {
    color: #aaa;
    }


html, body {
    margin: 0;
    padding: 0;
    }

body {
    font-family: sans-serif;
    color: #ddd;
    background-color: #272822;
    }

td + td:empty::before {
    content: 'null';
    color: #888;
    font-style: italic;
    font-size: smaller;
    }


.has-blankrow > tr:last-child > td {
    border-color: #333;
    }

.has-blankrow > tr:last-child > td:first-child::before {
    content: '*';
    }


p.non-query-result,
.error {
    padding: .3rem .5rem .3rem .5rem;
    font-size: .8rem;
    font-weight: bold;
    border-bottom: 1px solid #333;
    }

.error {
    color: #ff4c4c;
    }
