@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

.code .cm-editor {
  height: 100%;
}

.code .cm-editor.cm-focused {
  outline: none;
}

.code .cm-scroller {
  font: 400 .875rem / 1.25rem 'Roboto Mono';
  overscroll-behavior: none;
  scrollbar-width: thin;
}

.code .cm-content {
  padding-block: 1rem 10rem;
}

.code .cm-line {
  padding-right: 10em;
}

.code .cm-editor .cm-gutters {
  border: none;
  user-select: none;
}

.code .cm-editor .cm-lineNumbers .cm-gutterElement {
  padding-inline: .5rem;
  min-width: 3rem; /* hundreds */
  color: hsl(0 0% 50% / .3);
  font-weight: 300;
}

.code .cm-editor .cm-lineNumbers .cm-activeLineGutter {
  background: none;
  color: hsl(0 0% 50%);
}

.code-gutter_error::before {
  content: '\00d7!';
  color: hsl(330 100% 60%);
  font-weight: 400;
}

.code .cm-scroller { background-color: hsl(0 0% 11%); }
.light .code .cm-scroller { background-color: hsl(0 0% 96%); }
.code .cm-gutters { background-color: inherit; }
/* .code .cm-content { caret-color: #f5f5f5; } */
/* .light .code .cm-content { caret-color: #333; } */
.code .cm-focused .cm-selectionBackground { background: hsl(200 100% 70% / .3) !important; }
.code .cm-selectionBackground { background: hsl(200 100% 50% / .2); }
.code .cm-cursor { border-color: currentcolor; }
.code {
  --cm-keyword: hsl(205 60% 55%);
  --cm-comment: hsl(0 0% 50%);
  --cm-literalstr: hsl(15 50% 65%);
  --cm-literalnum: hsl(100 45% 75%);
}
