.splitpanel {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.splitpanel--vertical.splitpanel--splitting,
.splitpanel--vertical > .splitpanel-splitter {
  cursor: ns-resize;
}

.splitpanel--horizontal.splitpanel--splitting,
.splitpanel--horizontal > .splitpanel-splitter {
  cursor: ew-resize;
}

.splitpanel-splitter {
  position: absolute;
}

.splitpanel--horizontal > .splitpanel-splitter {
  top: 0;
  bottom: 0;
}

.splitpanel--vertical > .splitpanel-splitter {
  left: 0;
  right: 0;
}

.splitpanel-child {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
