.outs {
  white-space: nowrap;
}

.outs-table {
  border-spacing: 0;
  table-layout: fixed;
  width: min-content;
  /* background-color: hsl(0 0% 0% / .1); */
}

.outs-head {
  position: sticky;
  top: 0;
  z-index: 1;
  line-height: 2.5;
  background-color: hsl(0 0% 15%);
}

.light .outs-head {
  background-color: hsl(0 0% 90%);
}

.outs-th {
  text-align: inherit;
  font-weight: inherit;
  padding: 0;
}

.outs-colh {
  padding-inline: 1em;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outs-colh_name {
  font-weight: bold;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  display: inline;
}

.outs-colh_type {
  font-size: .75rem;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  color: hsl(0 0% 50%);
  display: inline;
}

.outs-colh_resizer {
  position: absolute;
  inset: 0 0 0 auto;
  width: .5rem;
  cursor: ew-resize;
}

.outs-col {
  width: 10em;
}

/* chess */
.outs-col:nth-child(even),
.outs-th:nth-child(even),
.outs-row:nth-child(even) {
  background-color: hsl(0 0% 0% / .1);
}

.outs-row[data-selected] {
  background-color: hsl(0 0% 100% / .8);
  color: hsl(0 0% 20%);
}
.light .outs-row[data-selected] {
  background-color: hsl(0 0% 0% / .8);
  color: hsl(0 0% 95%);
}

.outs-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 1em;
  line-height: 2;
}
.outs-cell[data-null]::before {
  content: 'null';
  opacity: .5;
  font-style: italic;
}
.outs-cell[data-empty]::before {
  content: 'empty';
  opacity: .5;
  font-style: italic;
}

.outs-status {
  padding-inline: 1em;
  line-height: 2;
}
