.tree-node {
  position: relative;
  padding-inline: calc(1em + var(--tree-level) * 1em) 2em;
  line-height: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.tree-node:hover {
  background-color: hsl(0 0% 50% / .2);
}
.tree-node[data-selected] {
  background-color: hsl(0 0% 50% / .3);
}

.tree-container[data-type~="column"] + .tree-container:not([data-type~="column"]) {
  margin-block-start: .5em;
}

.tree-node[data-type~=index] .tree-caption::before,
.tree-node[data-type~=trigger] .tree-caption::before,
.tree-node[data-type~=constraint] .tree-caption::before {
  content: '...';
  margin-inline-end: .25em;
  opacity: .5;
}

.tree-marker {
  position: absolute;
  inset: 0 auto;
  inline-size: 2rem;
  margin-inline-start: -2rem;
  background-color: currentcolor;
  mask: url('./marker_database.svg') center / 1rem no-repeat;
  -webkit-mask: url('./marker_database.svg') center / 1rem no-repeat;
  opacity: .5;
}
.tree-marker[data-type~=database] {
  -webkit-mask-image: url('./marker_database.svg');
}
.tree-marker[data-type~=schema] {
  -webkit-mask-image: url('./marker_schema.svg');
}
.tree-marker[data-type~=table] {
  -webkit-mask-image: url('./marker_table.svg');
}
.tree-marker[data-type~=table_v] {
  -webkit-mask-image: url('./marker_view.svg');
}
.tree-marker[data-type~=table_f] {
  -webkit-mask-image: url('./marker_view.svg');
}
.tree-marker[data-type~=column] {
  -webkit-mask-image: url('./marker_column.svg');
}
.tree-marker[data-type~=column_pk] {
  -webkit-mask-image: url('./marker_column_pk.svg');
  opacity: 1;
}
.tree-marker[data-type~=func] {
  -webkit-mask-image: url('./marker_func.svg');
}
.tree-marker[data-type~=agg] {
  -webkit-mask-image: url('./marker_agg.svg');
}
.tree-marker[data-type~=index] {
  -webkit-mask-image: url('./marker_index.svg');
}
.tree-marker[data-type~=trigger] {
  -webkit-mask-image: url('./marker_trigger.svg');
}
.tree-marker[data-type~=constraint] {
  -webkit-mask-image: url('./marker_check.svg');
}

.tree-caption {
  /* margin-inline-start: .25em; */
}

.tree-comment {
  font-size: 80%;
  opacity: .5;
}

.tree-toggler {
  position: absolute;
  z-index: 10;
  inset: 0 0 0 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  inline-size: 2em;
  color: inherit;
  background: none;
  opacity: 0;
  transition: opacity 400ms ease 1000ms;
  cursor: pointer;
}
.tree-toggler::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentcolor;
  mask: url('./toggler.svg') center / 1rem no-repeat;
  -webkit-mask: url('./toggler.svg') center / 1rem no-repeat;
}
.tree-node[data-expanded] .tree-toggler {
  transform: rotate(.25turn);
}


.tree:hover .tree-toggler {
  transition: opacity 200ms ease;
  opacity: .3;
}

.tree .tree-toggler:hover {
  opacity: .7;
}

.tree-node[data-expanding] .tree-toggler {
  /* opacity: 0; */
  /* pointer-events: none; */
  visibility: hidden;
}

.tree-loader {
  position: absolute;
  inset: 0 0 0 auto;
  border: 2px solid hsl(0 0% 50%);
  width: 1em;
  margin: .5em;
  box-sizing: border-box;
  border-radius: 50%;
  border-left-color: transparent;
  animation: 800ms linear tree-spin infinite;
  pointer-events: none;
  display: none;
}

.tree-node[data-expanding] .tree-loader {
  display: initial;
}

@keyframes tree-spin {
  from { transform: rotate(0); }
  to { transform: rotate(1turn); }
}
