/* TODO group separator */
.tree-branch:has(> [data-type~='column']) + .tree-branch:not(:has(> [data-type~='column'])) {
  margin-block-start: 0.5em;
}

.tree-node {
  position: relative;
  padding-inline: calc(1rem + var(--tree-level) * 1rem) 2rem;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    background-color: hsl(0 0% 50% / 0.2);
  }
  &[data-selected] {
    background-color: hsl(0 0% 50% / 0.3);
  }
}

.tree-marker {
  position: absolute;
  inset: 0 auto;
  inline-size: 2rem;
  margin-inline-start: -2rem;
  background-color: currentcolor;
  mask: url('./marker_file.svg') center / 1rem no-repeat; /* TODO fallback marker */
  opacity: 0.5;

  .tree-node[data-type~='database'] & {
    mask-image: url('./marker_database.svg');
  }
  .tree-node[data-type~='schema'] & {
    mask-image: url('./marker_schema.svg');
  }
  .tree-node[data-type~='table'] & {
    mask-image: url('./marker_table.svg');
  }
  .tree-node[data-type~='table_v'] & {
    mask-image: url('./marker_view.svg');
  }
  .tree-node[data-type~='table_f'] & {
    mask-image: url('./marker_view.svg');
  }
  .tree-node[data-type~='column'] & {
    mask-image: url('./marker_column.svg');
  }
  .tree-node[data-type~='column_pk'] & {
    mask-image: url('./marker_column_pk.svg');
    opacity: 1;
  }
  .tree-node[data-type~='func'] & {
    mask-image: url('./marker_func.svg');
  }
  .tree-node[data-type~='agg'] & {
    mask-image: url('./marker_agg.svg');
  }
  .tree-node[data-type~='index'] & {
    mask-image: url('./marker_index.svg');
  }
  .tree-node[data-type~='trigger'] & {
    mask-image: url('./marker_trigger.svg');
  }
  .tree-node[data-type~='constraint'] & {
    mask-image: url('./marker_check.svg');
  }
  .tree-node[data-type~='dir'] & {
    mask-image: url('./marker_dir.svg');
  }
  .tree-node[data-type~='file'] & {
    mask-image: url('./marker_file.svg');
  }
}

.tree-caption {
  flex: 1;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;

  .tree-node[data-type~='index'] &::before,
  .tree-node[data-type~='trigger'] &::before,
  .tree-node[data-type~='constraint'] &::before {
    content: '...';
    margin-inline-end: 0.25rem;
    opacity: 0.5;
  }
}

.tree-comment {
  font-size: 0.875rem;
  font-style: italic;
  color: hsl(0 0% 50%);
}

.tree-badge {
  font-weight: 400;
  font-size: 0.75rem;
  font-variant-numeric: proportional-nums;
  line-height: 1.25rem;
  border-radius: 1rem;
  padding-inline: 0.5rem;
  color: hsl(0 0% 60%);
  background-color: hsl(0 0% 12%);

  &:empty {
    display: none;
  }
  .light & {
    background-color: hsl(0 0% 98%);
    color: hsl(0 0% 50%);
  }
}

.tree-toggler {
  position: absolute;
  z-index: 10;
  inset: 0 0 0 auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  inline-size: 2em; /* TODO 1lh */
  color: inherit;
  background: none;
  opacity: 0;
  transition: opacity 400ms ease 1000ms;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: currentcolor;
    mask: url('./toggler.svg') center / 1rem no-repeat;
  }
  .tree:hover & {
    transition: opacity 200ms ease;
    opacity: 0.3;
  }
  .tree &:hover {
    opacity: 0.7;
  }
  .tree-node[data-expanding] & {
    visibility: hidden;
  }
  .tree-node[data-expanded] & {
    transform: rotate(0.25turn);
  }
}

.tree-loader {
  position: absolute;
  inset: 0 0 0 auto;
  border: 2px solid hsl(0 0% 50%);
  width: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  border-radius: 50%;
  border-left-color: transparent;
  animation: 800ms linear tree-spin infinite;
  pointer-events: none;
  display: none;

  .tree-node[data-expanding] & {
    display: initial;
  }
}

@keyframes tree-spin {
  from { transform: rotate(0); }
  to { transform: rotate(1turn); }
}
