/* reset */
.app-run,
.app-abort,
.app-map_btn,
.app-theme_btn {
  padding: 0;
  margin: 0;
  font: 400 .75rem / 2 Roboto;
  border: none;
  border-radius: 1rem;
  background: none;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
}

.app {
  position: absolute;
  inset: 0;
  display: grid;
  grid:
    'nav_b code_b outs'  2.5rem
    'nav   code   outs'  minmax(4rem, 1fr)
    'nav   code   datum' calc(var(--app-split_datum) * 1px)
    'nav   code   map'   calc(var(--app-split_map) * 1px)
    /
    calc(var(--app-split_left) * 1px)
    minmax(17rem /* fit "run, abort, map" buttons */, 1fr)
    calc(var(--app-split_right) * 1px)
  ;
  color: hsl(0 0% 93%);
  background-color: hsl(0 0% 14%);
  color-scheme: dark;
}

.light {
  color: hsl(0 0% 20%);
  background-color: hsl(0 0% 95%);
  color-scheme: light;
}

.app-login {
  position: absolute;
  inset: 0;
  z-index: 10;
}

.app-nav {
  grid-area: nav;
  padding-top: 1rem;
  padding-bottom: 50vh;
  overflow: scroll;
  overscroll-behavior: none;
  scrollbar-width: none;
}

.app-drafts:not(:empty) {
  margin-bottom: 1rem;
}

.app-code {
  grid-area: code;
}

.app-outs {
  grid-area: outs;
  overflow: auto;
  overscroll-behavior: none;
}

.app-datum {
  grid-area: datum;
  background-color: hsl(0 0% 11%);
}

.app-map {
  grid-area: map;
  background-color: hsl(0 0% 0% / .05);
}

.app-code_bar {
  grid-area: code_b;
  display: flex;
}

.app-run {
  min-width: 5rem;
  padding-inline: 1rem;
  align-self: center;
  margin-inline: .5rem;
  opacity: 1;
  transition: opacity 200ms ease;
  background: hsl(0 0% 90%);
  color: hsl(0 0% 20%);

  .light & {
    background: hsl(0 0% 20%);
    color: hsl(0 0% 95%);
  }
  &:disabled {
    opacity: .5;
  }
  &::before {
    content: attr(aria-label);
  }
  &[data-has_selection] {
    background-color: hsl(200 65% 45%);
    color: hsl(0 0% 95%);
  }
  &[data-has_selection]::before {
    content: '[ ' attr(aria-label) ' ]';
  }
}

.app-abort {
  min-width: 5rem;
  align-self: center;
  background-color: hsl(330 80% 30%);
  opacity: 1;
  transition: opacity 200ms ease 400ms;

  &:disabled {
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease;
  }
  &::before {
    content: attr(aria-label);
  }
}

.app-map_btn {
  align-self: center;
  min-width: 5rem;
  margin-inline: auto .5rem;
  border: 1px solid currentColor;
  opacity: .75;

  &::before {
    content: attr(aria-label);
  }
}

.app-nav_bar {
  grid-area: nav_b;
  background-color: hsl(0 0% 50% / 0.1)
}

.app-theme_btn {
  width: 2rem;
  height: 2.5rem;
  position: relative;
  opacity: .5;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: currentColor;
    mask: url('icon_theme.svg') center / 1rem no-repeat;
    -webkit-mask: url('icon_theme.svg') center / 1rem no-repeat;
  }
  .light & {
    transform: scaleX(-1);
  }
}

.app-split_left {
  grid-area: code;
  width: .5rem;
  margin-inline: -.25rem;
  justify-self: start;
  cursor: ew-resize;
  z-index: 10;
}

.app-split_right {
  grid-area: code;
  width: .5rem;
  margin-inline: -.25rem;
  justify-self: end;
  cursor: ew-resize;
  z-index: 10;
}

.app-split_datum {
  grid-area: datum;
  cursor: ns-resize;
  height: .5rem;
  align-self: start;
  z-index: 10;
}

.app-split_map {
  grid-area: map;
  cursor: ns-resize;
  height: .5rem;
  align-self: start;
  z-index: 10;
}

.app-split_left:active,
.app-split_right:active,
.app-split_map:active,
.app-split_datum:active {
  background-color: hsl(200 85% 40% / 0.45);
}
