.queryPlanNode {
  cursor: pointer;
}

.queryPlanNode:hover .queryPlanNode__front {
  /*fill-opacity: 1;*/
}

.queryPlanNode__front {
  fill: #888;
  fill-opacity: .7;
  transition: fill-opacity 200ms ease;
}

/*.light*/ .queryPlanNode__back {
  fill: #fff;
}

.dark .queryPlanNode__back {
  fill: #000;
}

/*.light*/ .queryPlanNode__text {
  fill: #333;
}

.queryPlanNode:hover .queryPlanNode__text {
  text-decoration: underline;
}

.dark .queryPlanNode__text {
  fill: #ddd;
}
