.v-splitpanel__splitter,
.v-splitpanel--splitting {
    cursor: ns-resize;
    }

.v-splitpanel__splitter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    height: 6px;
    }

.h-splitpanel__splitter,
.h-splitpanel--splitting {
    cursor: ew-resize;
    }

.h-splitpanel__splitter {
    position: absolute;
    right: 70%;
    top: 0;
    bottom: 0;
    width: 6px;
    }

.h-splitpanel,
.v-splitpanel {
    position: relative;
    height: 100%;
    }

.h-splitpanel__left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70%;
    margin-right: 6px;
    }

.h-splitpanel__right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;
    }

.v-splitpanel__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    margin-bottom: 6px;
    }

.v-splitpanel__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    }


.h-splitpanel--splitting,
.v-splitpanel--splitting {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }

.h-splitpanel--splitting iframe,
.v-splitpanel--splitting iframe {
    pointer-events: none;
    }
