.queryplan-popup {
  transform: translate(-50%, -100%);

  position: fixed;
  z-index: 1;
  margin-top: -10px;

  line-height: 1;
  padding: 12px;

  color: #ddd;
  border-radius: 2px;
  font-size: 10px;

  box-shadow: 0 0 1em black;

  white-space: nowrap;
  pointer-events: none;
  display: none;

  left: 0;
  top: 0;
}

/*.light*/ .queryplan-popup {
  background-color: rgba(50, 50, 50, .9);
}

/*.light*/ .queryplan-popup::after {
  border-top-color: rgba(50, 50, 50, .9);
}

.dark .queryplan-popup {
  background-color: rgba(0, 0, 0, .9);
}

.dark .queryplan-popup::after {
  border-top-color: rgba(0, 0, 0, .9);
}

.queryplan-popup table {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* Creates a small triangle extender for the tooltip */
.queryplan-popup::after {
  content: '';
  display: block;
  border-width: .5em;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -1em;
  left: 50%;
  margin-left: -.5em;
}
