/*ul*/.myqueries-list {
    padding: 0;
    margin: 0;
    padding-left: 1em;
    list-style-type: none;
    white-space: nowrap;
    }


.myquery:hover,
.myquery--active {
    background-color: rgba(0,0,0,.1);
    }

.dark .myquery:hover,
.dark .myquery--active {
    background-color: rgba(255,255,255,.1);
    }

.myquery--active .myquery__name {
    font-weight: bold;
    width: calc(100% - 4.5em);
    }

.myquery__name {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    }

.myquery__icon::before {
    font-family: 'myqueries-fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    content: '\e800';
    }

.myquery__remove {
    display: inline-block;

    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    background: none;
    font-family: inherit;
    cursor: pointer;
    white-space: nowrap;

    font-size: inherit;
    text-decoration-style: dotted;
    text-decoration: underline;
    }

.myquery__remove::-webkit-focus-inner {
    border: 0;
    padding: 0;
    }

.myquery__remove::-moz-focus-inner {
    border: 0;
    padding: 0;
    }

.myquery__name,
.myquery__remove {
    padding: .125em .25em;
    }

@font-face {
    font-family: 'myqueries-fontello';
    src: url('./fontello/font/fontello.woff') format('woff');
    }
