:root {
  --pgbbcolor-bg: #eee;
  --pgbbcolor-fg: #555;
  --pgbbcolor-mute-fg: #888;
  --pgbbcolor-strong-fg: #000;
  --pgbbcolor-panel-bg: #fcfcfc;
  --pgbbcolor-queryplan-edge: #aaa;
  --pgbbcolor-queryplan-node-bg: #f4f4f4;
  --pgbbcolor-table-border: #aaa;
  --pgbbcolor-table-head-bg: #ddd;
  --pgbbcolor-table-row-bg: #eee;
  --pgbbcolor-danger: #ff4c4c;
  --pgbbcolor-treenode-selected-bg: rgba(0, 0, 0, 0.1);
  --pgbbcolor-treenode-subicon-default-fg: #fff;
  --pgbbcolor-treenode-subicon-default-bg: #eee;
  --pgbbcolor-treenode-subicon-view-bg: red;
  --pgbbcolor-treenode-subicon-matview-bg: green;
  --pgbbcolor-treenode-subicon-foreigntable-bg: purple;
  --pgbbcolor-treenode-subicon-fkcolumn-bg: #ddd;
  --pgbbcolor-treenode-groupsep: #ccc;
  --pgbbcolor-treenode-ballon-bg: #fff;
  --pgbbcolor-treenode-ballon-border: #ddd;
  --pgbbcolor-treenode-ballon-shadow: #ddd;
}

.dark {
  --pgbbcolor-bg: #333;
  --pgbbcolor-fg: #ddd;
  --pgbbcolor-mute-fg: #888;
  --pgbbcolor-strong-fg: #fff;
  --pgbbcolor-panel-bg: #272822;
  --pgbbcolor-table-head-bg: #555;
  --pgbbcolor-table-border: #888;
  --pgbbcolor-table-row-bg: #333;
  --pgbbcolor-queryplan-edge: #555;
  --pgbbcolor-queryplan-node-bg: #333;
  --pgbbcolor-queryplan-node-shadow: #222;
  --pgbbcolor-treenode-selected-bg: rgba(255, 255, 255, .1);
  --pgbbcolor-treenode-subicon-view-bg: #a20000;
  --pgbbcolor-treenode-subicon-fkcolumn-bg: #272822;
  --pgbbcolor-treenode-groupsep: #444;
  --pgbbcolor-treenode-ballon-bg: #333;
  --pgbbcolor-treenode-ballon-border: #444;
  --pgbbcolor-treenode-ballon-shadow: #222;
}


/*.light*/ *::-webkit-scrollbar,
/*.light*/ *::-webkit-scrollbar-corner {
  background-color: #ddd;
}

.dark *::-webkit-scrollbar,
.dark *::-webkit-scrollbar-corner {
  background-color: #222;
}


/*.light*/ *::-webkit-scrollbar-thumb {
  background-color: #999;
  color: #ddd;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.2);
  color: #222;
}

.dark * {
  scrollbar-base-color: #333;
  scrollbar-3dlight-color: #222;
  scrollbar-highlight-color: #222;
  scrollbar-track-color: #222;
  scrollbar-arrow-color: #888;
  scrollbar-shadow-color: #222;
  scrollbar-dark-shadow-color: #222;
}

