.execOutput {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.execOutput__cornerBar {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .2em;
  background-color: #333;
  border-top-left-radius: .2em;
}

.execOutput__saveChanges {
  background: transparent;
  border: none;
  color: inherit;
  border-bottom: 1px dotted;
  line-height: 1;
  padding: 0;
  margin: .2em;
  cursor: pointer;
  /*font-family: inherit;
  font-size: inherit;
  line-height: inherit;*/
}

.execOutput__saveChanges:focus {
  outline: none;
}

.execOutput__scrollContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  transform: translateZ(0);
}
