module.exports = `
  <ul class="tree" data-bind.foreach="nodes">
    <li class="treenode"
        data-bind.mod.groupstart="groupStart"
        data-bind.attr.data-group="groupStart">

      <button class="treenode__toggler"
              data-bind.mod.visible="isExpandable"
              data-bind.click="toggle">

        <i class="treenode__toggler-icon"
           data-bind.mod.collapsed="isCollapsed"
           data-bind.mod.expanding="isExpanding"
           data-bind.mod.expanded="isExpanded"></i>

      </button>

      <a class="treenode__header"
         data-bind.mod.active="isSelected"
         data-bind.attr.title="comment"
         data-bind.click="$component.selectNode">

        <i class="treenode__icon"
           data-bind.mod="type"></i>

        <span data-bind.text="name"></span>

        <small class="treenode__comment"
               data-bind.text="comment"></small>
      </a>

      <div class="treenode__message-layout"
           data-bind.mod.visible="message"
           data-bind.with="message">
        <div class="baloon">
          <div class="treenode__message"
               data-bind.mod.error="isError"
               data-bind.mod.info="!ko.unwrap(isError)"
               data-bind.text="body">
          </div>
        </div>
      </div>

      <!-- ugly recursive template call -->
      <ul class="tree tree--children"
          data-bind="template: {
            if: nodes,
            foreach: nodes,
            nodes: ko.nativeTemplateEngine.instance.renderTemplate(
                      $element.parentNode.parentNode,
                      $context,
                      {},
                      $element.ownerDocument)
          }"></ul>

      <div class="treenode__showall-layout"
           data-bind.if="nodesAreLimited">
        <button class="treenode__showall"
                data-bind.click="showAllNodes">
          show all <strong data-bind.text="allNodesCount"></strong> items
        </button>
      </div>
    </li>
  </ul>
`;
