td, th {
    border: 1px solid #555;
    padding: .2em;
    }

/* 6em width for all columns except row number */
th + th {
    width: 6em;
    }



td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 50em;
    vertical-align: top;
    }

td:focus {
    white-space: pre;
    overflow-wrap: break-word;
    }

/* row number */
th:first-child::before {
    content: '#';
    }

td:first-child {
    text-align: right;
    background-color: #444;
    font-weight: bold;
    }

table {
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;

    }

tbody {
    counter-reset: rownum;
    }

td:first-child::before {
    counter-increment: rownum;
    content: counter(rownum);
    }

th {
    background-color: #444;
    }



tr:nth-child(even) {
    color: #aaa;
    }


html, body {
    margin: 0;
    padding: 0;
    }

body {
    font-family: sans-serif;
    color: #eee;
    background-color: #272822;
    }

td + td:empty::before {
    content: 'null';
    color: #888;
    font-style: italic;
    font-size: smaller;
    }

.error {
    color: red;
    margin-left: 1em;
    }

.has-blankrow > tr:last-child > td {
    border-color: #333;
    }

.has-blankrow > tr:last-child > td:first-child::before {
    content: '*';
    }
