.myQuery {
  line-height: 1.4375;
  margin-left: 1.3em;
}

/*.light*/.myQuery:hover,
/*.light*/.myQuery--selected {
  background-color: rgba(0,0,0,.1);
}

/*.light*/.myQuery--selected {
  color: black;
}

.dark .myQuery:hover,
.dark .myQuery--selected {
  background-color: rgba(255,255,255,.1);
}

.dark .myQuery--selected {
  color: white;
}

.myQuery--selected .myQuery__title {
  width: calc(100% - 4em);
}

.myQuery__title {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: .2em;
}

/*.myQuery__icon {
  width: 1em;
  display: inline-block;
  height: 1em;
  background-image: url('./icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
}*/

.myQuery__icon {
  margin-left: .2em;
  margin-right: .2em;
}

.myQuery__icon::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  content: '\e80b';
}

.myQuery__remove {
  display: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
  line-height: inherit;
  font-size: small;
  text-decoration-style: dotted;
  text-decoration: underline;
  margin-left: .5em;
}

.myQuery--selected .myQuery__remove {
  display: inline-block;
}

.myQuery__remove::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

.myQuery__remove::-moz-focus-inner {
  border: 0;
  padding: 0;
}
