
.icon-table:before { content: '\e800'; } /* '' */
.icon-column:before { content: '\e80d'; } /* '' */
.icon-database:before { content: '\e801'; } /* '' */
.icon-forward:before { content: '\e809'; } /* '' */
.icon-code:before { content: '\e80b'; } /* '' */
.icon-schema:before { content: '\e806'; } /* '' */
.icon-extension:before { content: '\e808'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-uniqkey:before { content: '\e80a'; } /* '' */