body {
    background-color: #333;
    color: #eee;
    }

#leftpanel {
    background-color: #272822;
    }

.ace_scrollbar::-webkit-scrollbar,
.scrollbox::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding: 2px;
    background-color: #222;
    }

.scrollbox::-webkit-scrollbar-button:start:decrement,
.scrollbox::-webkit-scrollbar-button:end:increment,
.ace_scrollbar::-webkit-scrollbar-button:start:decrement,
.ace_scrollbar::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
    }

.scrollbox::-webkit-scrollbar-thumb,
.ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.2);
    border-radius: 6px;
    border: 2px solid #222;
    }

.scrollbox::-webkit-scrollbar-corner,
.ace_scrollbar::-webkit-scrollbar-corner {
    background-color: #222;
    }


.ace_scrollbar-h,
.ace_scrollbar-v,
.scrollbox {
    scrollbar-base-color: #1c1c1c;
    scrollbar-3dlight-color: #222;
    scrollbar-highlight-color: #222;
    scrollbar-track-color: #222;
    scrollbar-arrow-color: #888;
    scrollbar-shadow-color: #222;
    scrollbar-dark-shadow-color: #222;
}

.ace_scrollbar-v::-webkit-scrollbar-button:end:increment {
    height: 2em;
    }

.ace_scrollbar-h::-webkit-scrollbar-button:end:increment {
    width: 5em;
    }


.action:hover {
    color: orange;
    border-color: orange;
    }


.my-queries-item:hover {
    background-color: rgba(255,255,255,.1);
    }
