html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    }

body {
    font-family: 'DejaVu Sans', 'Verdana', sans;
    }

#leftpanel {
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5em;
    }

.code-form {
    display: flex;
    position: relative;
    }

#exec-commands {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: .2em;
    background-color: #333;
    border-top-left-radius: .3em;
    }

.code {
    display: block;
    flex: 1;
    }

.result {
    height: 200px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #272822;
    }





.hitarea {
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: 1em;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    }

.hitarea::-webkit-focus-inner {
    border: 0;
    padding: 0;
    }


#exec-map::before { content: "map"; }
#exec-table::before { content: "execute"; }
.queries-item-del::before { content: "remove"; }


.action {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px dotted #eee;
    color: inherit;
    background: none;
    font-family: inherit;
    line-height: 1em;
    cursor: pointer;
    margin: .2em;
    white-space: nowrap;
    }

.action::-webkit-focus-inner {
    border: 0;
    padding: 0;
    }

