html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    }

body {
    font-family: 'DejaVu Sans', 'Verdana', sans;
    }

#leftpanel {
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5em;
    }

.code-form {
    display: flex;
    position: relative;
    }

#exec-commands {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: .2em;
    background-color: #333;
    border-top-left-radius: .3em;
    }

.code {
    display: block;
    flex: 1;
    }

.result {
    height: 200px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #272822;
    }





.hitarea {
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: 1em;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    }

.hitarea::-webkit-focus-inner {
    border: 0;
    padding: 0;
    }


#exec-map::before { content: "map"; }
#exec-table::before { content: "execute"; }
.my-queries-item-del::before { content: "remove"; }


.action {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px dotted #eee;
    color: inherit;
    background: none;
    font-family: inherit;
    line-height: 1em;
    cursor: pointer;
    margin: .2em;
    white-space: nowrap;
    }

.action::-webkit-focus-inner {
    border: 0;
    padding: 0;
    }


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


sub[class^="icon-"],
sub[class*=" icon-"] {
    vertical-align: baseline;
    position: relative;
    bottom:
    }

sub[class^="icon-"]:before,
sub[class*=" icon-"]:before {
    background-color: purple;
    border-radius: 50%;
    margin-left: -1em;
    }
