.my-queries {
    margin-bottom: 1em;
    padding-left: 1em;
    }

.my-queries-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5em;
    }

.my-queries-item {
    display: flex;
    align-items: center;
    }

.my-queries-item .action {
    display: none;
    }

.my-queries-item:hover .action {
    display: block;
    }

.my-queries-item-name {
    flex: 1;
    color: inherit;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

.my-queries-item-current {
    font-weight: bold;
    }
