:root {
  --queryplan-spacing: .5em;
  --queryplan-edge-width: 2px;
}

.queryplan {
  display: flex;
}

.queryplan-tree {
  text-align: center;
  position: relative;
  padding-top: var(--queryplan-spacing);
  border-width: 1px;
}

.queryplan-tree:only-child {
  padding-top: 0;
}

.queryplan-tree::before {
  content: '';
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  border-color: var(--pgbbcolor-queryplan-edge);
  border-width: var(--queryplan-edge-width);
  border-top-style: solid;
  border-right-style: solid;
  height: var(--queryplan-spacing);
}

.queryplan-tree::after {
  content: '';
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  border-color: var(--pgbbcolor-queryplan-edge);
  border-width: var(--queryplan-edge-width);
  border-top-style: solid;
  height: var(--queryplan-spacing);
}

.queryplan-tree:first-child::before {
  content: none;
}

.queryplan-tree:first-child::after {
  border-left-style: solid;
  border-top-left-radius: 4px;
}

.queryplan-tree:last-child::before {
  border-top-right-radius: 4px;
}

.queryplan-tree:last-child::after {
  content: none;
}

.queryplan-node {
  border-width: var(--queryplan-edge-width);
  border-style: solid;
  border-color: var(--pgbbcolor-queryplan-edge);
  display: inline-block;
  min-width: 200px;
  max-width: 500px;
  margin: var(--queryplan-spacing);
  margin-top: 0;
  position: relative;
  background-color: var(--pgbbcolor-queryplan-node-bg);
  border-radius: 3px;
  box-shadow: .1em .1em .1em var(--pgbbcolor-queryplan-node-shadow);
  text-align: left;
  padding: .3em;
  font-size: 80%;
}

.queryplan-children::before {
  position: absolute;
  content: '';
  top: calc(-1 * var(--queryplan-spacing));
  left: 50%;
  height: var(--queryplan-spacing);
  border-left: var(--queryplan-edge-width) solid var(--pgbbcolor-queryplan-edge);
}

.queryplan-children {
  position: relative;
  display: flex;
}

.queryplan-header {
  display: flex;
}

.queryplan-node_type {
  text-transform: uppercase;
  font-weight: bold;
  flex: 1;
}


.queryplan-subheader {
  font-size: 90%;
}

.queryplan-muted {
  color: #aaa;
}

.queryplan-badge {
  color: #fff;
  background-color: var(--pgbbcolor-danger);
  display: inline-block;
  line-height: 1.4;
  padding: 0 .3em;
  border-radius: 3px;
  margin-top: .3em;
  margin-right: .3em;
}
