
.fontello-table:before { content: '\e800'; } /* '' */
.fontello-database:before { content: '\e801'; } /* '' */
.fontello-link:before { content: '\e803'; } /* '' */
.fontello-trigger:before { content: '\e805'; } /* '' */
.fontello-schema:before { content: '\e806'; } /* '' */
.fontello-check:before { content: '\e807'; } /* '' */
.fontello-extension:before { content: '\e808'; } /* '' */
.fontello-forward:before { content: '\e809'; } /* '' */
.fontello-uniqkey:before { content: '\e80a'; } /* '' */
.fontello-func:before { content: '\e80b'; } /* '' */
.fontello-key:before { content: '\e80c'; } /* '' */
.fontello-column:before { content: '\e80d'; } /* '' */
.fontello-triangle-right:before { content: '\e80e'; } /* '' */
.fontello-index:before { content: '\e80f'; } /* '' */