


.light { color: #555; }
/*.light*/ .queryplan-container--fullpage { background-color: rgba(255,255,255,.7); }
.light .node .node-back { fill: #fff; }
.light .node text { fill: #333; }
.light .edgePath path { stroke: #999; }

/*.light*/ .queryplan__popup {
    background-color: rgba(50, 50, 50, .9);
    }

/*.light*/ .queryplan__popup::after {
    border-top-color: rgba(50, 50, 50, .9);
    }

/*.light*/ .queryplan-container--fullpage {
    background-image: -webkit-linear-gradient(left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);

    background-image: -moz-linear-gradient(left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);

    background-image: -ms-linear-gradient(left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);

    background-image: linear-gradient(to left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);
    }




.dark { color: #ddd; }
/*.dark .queryplan { background-color: rgba(39, 40, 34,.7); }*/
.dark .node .node-back { fill: #000; }
.dark .node text { fill: #ddd; }
.dark .edgePath path { stroke: #555; }
.dark .queryplan-tip        { background-color: rgba(0, 0, 0, .9); }
.dark .queryplan-tip::after { border-top-color: rgba(0, 0, 0, .9); }
.dark .queryplan-container--fullpage {
    background-image: -webkit-linear-gradient(left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);

    background-image: -moz-linear-gradient(left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);

    background-image: -ms-linear-gradient(left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);

    background-image: linear-gradient(to left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);
    }




.node .node-overlay { fill: #888; fill-opacity: .5; }

.queryplan-container--preview {
    height: 200px;
    width: 80%;
    margin: 1em auto;
    position: relative;
    cursor: pointer;
    padding: .5em;
    box-sizing: border-box;
    background-color: #eee;
    -webkit-filter: saturate(0.5);
    transition: -webkit-filter .2s ease;
    }

.queryplan-container--preview > .queryplan {
    width: 100% !important;
    height: 100% !important;
    }
/*
.queryplan-preview::before {
    content: 'expand';
    line-height: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #888;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .2s ease;
    background-color: rgba(200, 200, 200, .7);
    z-index: 1;
    opacity: 0;
    }

.queryplan-preview:hover::before {
    -opacity: 1;
    }*/

.queryplan-container--preview:hover {
    -webkit-filter: none;
    }

.queryplan-preview--overlayed {
    visibility: hidden;
    }

.queryplan,
.queryplan__popup {
    font-family: Ubuntu, Verdana, sans-serif;
    }

.queryplan__edge {
    fill: none;
    stroke: #555;
    stroke-width: 2px;
    }


.queryplan-container--fullpage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-size: 2px 100%;
    }

.queryplan-overlay__content {
    display: inline-block;
    }


.queryplan {
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    display: block;
    }

.queryplan--focused {
    cursor: -webkit-grab;
    cursor: grab;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    }

/*.light*/ .queryplan--focused {
    background-color: rgba(255,255,255,.7);
    background-image: linear-gradient(to left
                    ,rgba(0,0,0,.0)   0
                    ,rgba(0,0,0,.0)  1px
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.1)  2px);
    }

.dark .queryplan--focused {
    background-color: rgba(39, 40, 34,.9);
    background-image: linear-gradient(to left
                    ,rgba(0,0,0,.1)   0
                    ,rgba(0,0,0,.1)  1px
                    ,rgba(0,0,0,.5)  1px
                    ,rgba(0,0,0,.5)  2px);
    }
/*
.queryplan,
.queryplan > g {
    outline: 2px solid black;
}*/

.queryplan:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

.queryplan {
    max-height: 100%;
    }


.edgePath path {
    stroke-width: 2px;
    fill: none;
    }




.queryplan__popup {
    -webkit-transform: translate(-50%, -100%);
       -moz-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);

    position: fixed;
    z-index: 1;
    margin-top: -10px;

    line-height: 1;
    padding: 12px;

    color: #ddd;
    border-radius: 2px;
    font-size: 10px;

    box-shadow: 0 0 1em black;

    white-space: nowrap;
    pointer-events: none;
    display: none;
    }

.queryplan__popup table {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    }

/* Creates a small triangle extender for the tooltip */
.queryplan__popup::after {
    content: '';
    display: block;
    border-width: .5em;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -1em;
    left: 50%;
    margin-left: -.5em;
    }

.queryplan-container__close {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10;
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
    }
