.itemheader > a {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    }

.itemheader-has-btn.itemheader-active > a {
    width: calc(100% - 4em);
    }

.itemheader-has-btn > .btn-action {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: .25em;
    }

.itemheader {
    padding: .125em .25em;
    }

.itemheader-active {
    font-weight: bold;
    }
