@import url("../queryplan/queryplan.css");

.dark { color: #ddd; background-color: #272822; }
.dark .rowset { border-color: #555; }
.dark .rowset th { background-color: #444; }
.dark .rowset-invalid-row td { background-color: #551414; }
.dark .message--error { color: #ff4c4c; }
.dark .message { border-bottom-color: #333; }
.dark .rowset tr:nth-child(even) {
    color: #aaa;
    background-color: transparent;
    }

.dark *::-webkit-scrollbar,
.dark *::-webkit-scrollbar-corner {
    background-color: #222;
    }

.dark *::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.2);
    color: #222;
    }

.dark * {
    scrollbar-base-color: #333;
    scrollbar-3dlight-color: #222;
    scrollbar-highlight-color: #222;
    scrollbar-track-color: #222;
    scrollbar-arrow-color: #888;
    scrollbar-shadow-color: #222;
    scrollbar-dark-shadow-color: #222;
    }




/*.light*/body { color: #555; background-color: #fcfcfc; }
/*.light*/ .rowset { border-color: #aaa; }
/*.light*/ .rowset th { background-color: #ddd; }
/*.light*/ .rowset-invalid-row td { background-color: #ffd7d7; }
/*.light*/ .message--error { color: #ff4c4c; }
/*.light*/ .message { border-bottom-color: #eee; }
/*.light*/ .rowset tr:nth-child(even) { background-color: #eee; }


/*.light*/ *::-webkit-scrollbar,
/*.light*/ *::-webkit-scrollbar-corner {
    background-color: #ddd;
    }

/*.light*/ *::-webkit-scrollbar-thumb {
    background-color: #999;
    color: #ddd;
    }




*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding: 2px;
    }

*::-webkit-scrollbar-button:start:decrement,
*::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    width: 0;
    background-color: transparent;
    }

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid;
    }





html,
body,
.main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    }


.main {
    overflow: auto;
    }

.message {
    padding: .3rem .5rem .3rem .5rem;
    font-size: .8rem;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    }

.message--error {
    white-space: pre;
    }

.rowset {
    border-collapse: collapse;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    }

/* make firefox inherit border-color for cells */
.rowset * {
    border-color: inherit;
    }

.rowset td,
.rowset th {
    border-width: 1px;
    border-style: solid;
    padding: .2em;
    }

/* truncate long cells */
.rowset td {
    max-width: 50em;
    overflow: hidden;
    text-overflow: ellipsis;
    }

/* expand cell content on focus */
.rowset td:focus {
    white-space: pre;
    overflow-wrap: break-word;
    }

/* .rowset__colheader is all TH except row number */
.rowset__colheader {
    width: 6em;
    }

/*  ┬─────────┬─
 *  │ COLNAME │
 *  │ coltype │
 *  ┼─────────┼─
 *  │         │
 */
.rowset__coltype {
    display: block;
    opacity: .5; /* mute color */
    font-size: .5em;
    text-transform: uppercase;
    }

/* row number */
.rowset__corner::before {
    content: '#';
    }
.rowset > tbody th {
    text-align: right;
    font-weight: bold;
    }
.rowset > tbody th::before {
    counter-increment: rownum;
    content: counter(rownum);
    }
.rowset > tbody {
    counter-reset: rownum;
    }
.rowset-has-blankrow > tbody > tr:last-child > th::before {
    content: '*';
    }

/* empty TD are nulls */
.rowset td:empty::before {
    content: 'null';
    color: #888;
    font-style: italic;
    font-size: smaller;
    }

.rowset td.emptystr::before {
    content: 'empty string';
    }

/* make blank row semiopaque like a ghost */
.rowset-has-blankrow > tbody > tr:last-child {
    opacity: .5;
    }

.rowset-submitting-row {
    -webkit-animation: 'move-stripes' .2s linear infinite;
       -moz-animation: 'move-stripes' .2s linear infinite;
        -ms-animation: 'move-stripes' .2s linear infinite;
            animation: 'move-stripes' .2s linear infinite;

    background-size: 1em 100%;
    background-image: linear-gradient(45deg
                        ,rgba(0,0,0, 0)   0
                        ,rgba(0,0,0, 0)  20%
                        ,rgba(0,0,0,.1)  20%
                        ,rgba(0,0,0,.1)  40%
                        ,rgba(0,0,0, 0)  40%
                        ,rgba(0,0,0, 0)  60%
                        ,rgba(0,0,0,.1)  60%
                        ,rgba(0,0,0,.1)  80%
                        ,rgba(0,0,0, 0)  80%
                        ,rgba(0,0,0, 0) 100%);

}

@-webkit-keyframes move-stripes {
      0% { background-position: 0 0; }
    100% { background-position: 1em 0; }
}

@-moz-keyframes move-stripes {
      0% { background-position: 0 0; }
    100% { background-position: 1em 0; }
}

@-ms-keyframes move-stripes {
      0% { background-position: 0 0; }
    100% { background-position: 1em 0; }
}

@keyframes move-stripes {
      0% { background-position: 0 0; }
    100% { background-position: 1em 0; }
}
