.datum {
  font-stretch: initial;

  border: 1px solid transparent;
  &:focus-within {
    border-color: hsl(210, 100%, 60%);
  }
}

.datum .monaco-editor {
  --vscode-editor-background: hsl(0, 0%, 14%);
  --vscode-editorGutter-background: hsl(0 0% 14%);

  .light & {
    --vscode-editor-background: hsl(0, 0%, 95%);
    --vscode-editorGutter-background: hsl(0 0% 95%);
  }
}
