.datum {
  position: relative;
  border-top: .5rem solid hsl(0 0% 14%);
}

.datum-tab {
  position: absolute;
  /* background-color: inherit; */
  background-color: hsl(0 0% 14%);
  inset: 0 0 auto auto;
  margin-block: -2.5rem 0;
  margin-inline: .5rem;
  line-height: 2rem;
  padding-inline: .5rem;
  border-radius: .5rem .5rem 0 0;
}

.datum-value {
  font: 400 .875rem / 1.25rem 'Roboto Mono';
  padding: 1rem 2rem;
  position: absolute;
  inset: 0;
  word-wrap: break-word;
  overflow: scroll;
}
