.log {
  position: sticky;
  inset: auto 0;
  background: linear-gradient(to right,
    transparent 0 3rem,
    hsl(0 0% 0% / .08) 3rem,
    hsl(0 0% 0% / 0) 50%
  );
}

.log-header {
  margin: 0;
  padding-inline: 4rem 0;
  line-height: 2.5;
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: inherit;
  background-color: hsla(0 0 17%);

  .light & {
    background-color: hsla(0 0 90%);;
  }
}

.log-header_icon {
  position: absolute;
  inset: 0 auto 0 0;
  width: 3rem;
  background-color: currentColor;
  mask: url('./icon_ellipsis.svg') center / 1rem no-repeat;
}

.log-icon_ellipsis {
  mask-image: url('./icon_ellipsis.svg');
}

.log-icon_ok {
  mask-image: url('./icon_ok.svg');
}

.log-icon_failed {
  color: hsl(330 80% 60%);
  mask-image: url('./icon_failed.svg');
}

.log-icon_suspended {
  mask-image: url('./icon_suspended.svg');
}

.log-header_text {
  color: hsl(0 0% 50%);
}

.log-wake_more {
  all: unset;
  position: absolute;
  inset: 0 0 0 auto;
  margin: .5rem 1rem;
  min-width: 5rem;
  line-height: 2;
  font-size: .75rem;
  font-weight: 500;
  font-stretch: normal;
  border-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background: hsl(0 0% 90%);
  color: hsl(0 0% 20%);

  .light & {
    background: hsl(0 0% 20%);
    color: hsl(0 0% 95%);
  }
}

.log-wake_commit {
  all: unset;
  position: absolute;
  inset: 0 0 0 auto;
  margin: .5rem 1rem;
  min-width: 5rem;
  line-height: 2;
  font-size: .75rem;
  font-weight: 500;
  font-stretch: normal;
  border-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background: hsl(330 80% 30%);
  /* color: hsl(0 0% 20%); */

  .light & {
    background-color: hsl(330 60% 50%);
    color: hsl(0 0 90%);
  }
}

.log-item {
  padding-inline: 4rem 1rem;
  padding-block: .4rem .35rem;
  margin: 0;
  line-height: 1.25;
  white-space: pre-wrap;
  position: relative; /* icon/toggler */

  &:nth-last-child(odd) {
    background-color: hsl(0 0% 50% / .05);
  }
  /* &::before {
    content: '';
    position: absolute;
    width: 3rem;
    height: 2rem;
    left: 0;
    top: 0;
    color: hsl(0 0% 50%);
    background-color: currentcolor;
    mask: url('./icon_check.svg') center / 1rem no-repeat;
  } */
  /* &[data-tag=NoticeResponse] {
    color: hsl(0 0% 50%);
    &::before {
      mask-image: url('./icon_ellipsis.svg');
    }
  }
  &[data-tag=ErrorResponse] {
    background-color: hsl(330 80% 60% / .1);
    &::before {
      color: hsl(330 80% 60%);
      mask-image: url('./icon_ellipsis.svg');
    }
  }*/
}

.log-marker {
  position: absolute;
  inset: 0 auto auto 0;
  width: 3rem;
  height: 2rem;
  background-color: currentcolor;
  mask: url('./icon_ellipsis.svg') center / 1rem no-repeat;
}

.log-icon_complete {
  color: hsl(0 0% 50%);
  mask-image: url('./icon_check.svg');
}

.log-prefix {
  white-space: nowrap;

  &[data-severity=ERROR i],
  &[data-severity=FATAL i],
  &[data-severity=PANIC i] {
    color: hsl(330 75% 65%);
    .light & {
      color: hsl(330 90% 38%);
    }
  }
  /* &[data-severity=WARNING i] {
    color: hsl(55, 60%, 70%);
  } */
}

.log-message {
  white-space: wrap;
}

.log-detail {
  margin-block: .5rem 0;
}

.log-hint {
  margin-block: .5rem 0;
}

.log-fields {
  margin-block: .5rem 0;
}
